[2012-11-20 23:50] flibitijibibo opened #2 "Merge SSV* Projects into single repository"
While the SSVEntity/Start libs are technically supposed to be separate, it may be worth combining them into one repo to make it easier for other developers to clone and contribute. You could configure the project to keep each project separate (more on that in the next issue), but something like how OpenHexagon-Unix organizes things would make updating easier, I think.

[2012-11-20 23:54] flibitijibibo opened #3 "Cross-platform build system (CMake?)"
Right now the projects use CodeLite, which is a cross-platform app, but the project files aren't the easiest to work with on platforms other than the OS it came from.

The one I usually jump to is CMake:

http://www.cmake.org/

This will let you generate Makefiles, project files, etc. CodeLite actually has support for this if I'm not mistaken, so you should be able to keep working from there witho

[2012-11-21 13:24] #2 closed, assigned to nobody

[2012-11-21 21:18] vittorioromeo opened #5 "Version v1.3"

[2012-11-21 21:18] #5 closed, assigned to nobody

[2012-11-21 21:19] vittorioromeo opened #6 "Scripting language for pattern creation"
I tried AngelScript, but didn't like it.
Considering Squirrel (http://www.squirrel-lang.org/) or LUA.

[2012-11-21 21:20] vittorioromeo opened #7 ""play_sound" scripting event"
Command that plays a sound, for the simple levels event scripting.

[2012-11-21 21:21] SuperV1234 opened #8 "Expand StyleData overhaul"
Ideas: alpha-gradient walls, vignette-like borders around the screen, settable color-swap time.

[2012-11-21 21:22] vittorioromeo opened #9 "Player profile creation and management in-game"
OH needs a GUI to create/modify player profiles.
I also need to improve the current profile creation code to make it more flexible.

[2012-11-21 21:23] vittorioromeo opened #10 "Experiment with mouse support"

[2012-11-21 21:23] vittorioromeo opened #11 "Recursively read content subfolders (for more organization)"

[2012-11-21 21:25] vittorioromeo opened #12 "Automatic easier/harder versions of levels"
My idea: having OpenHexagon generate alternate versions of all the levels on startup, with the same scripting and all, but slightly different speed/delay values.

They would be accessible from the main menu, using the up/down arrow keys to select an harder/easier version of the current level.

Scores have to be managed separately for every difficulty.

[2012-11-21 21:47] vittorioromeo opened #13 "Update documentation"

[2012-11-22 14:37] krofna opened #14 "Missing files?"
I copied content from /Release/ to /Unix/, tried to run it and I get this:

krofna@krofna-desktop:~/SSVOpenHexagon/Unix$ ./OpenHexagon
loading config
loading fonts
Error querying directory Fonts/
loading sounds
Failed to open sound file "Sounds/beep.ogg" (System error : No such file or directory.)
Failed to open sound file "Sounds/death.ogg" (System error : No such file or directory.)
Failed to op

[2012-11-22 15:37] #14 closed, assigned to nobody

[2012-11-22 19:13] vittorioromeo opened #15 "Unlockable levels"

[2012-11-23 14:13] #6 closed, assigned to vittorioromeo

[2012-11-23 14:16] #7 closed, assigned to vittorioromeo

[2012-11-23 14:19] #13 closed, assigned to vittorioromeo

[2012-11-24 15:27] #9 closed, assigned to vittorioromeo

[2012-11-24 19:28] vittorioromeo opened #17 "Make messages run only on new game, not restart"

[2012-11-25 11:24] #17 closed, assigned to vittorioromeo

[2012-11-25 11:55] vittorioromeo opened #18 "Update docs before release"

[2012-11-25 14:11] #12 closed, assigned to vittorioromeo

[2012-11-25 18:04] vittorioromeo opened #19 "LUA function to get input"
Keyboard keys may be useful for unique levels or debugging

[2012-11-25 18:04] vittorioromeo opened #20 "Pseudo-3d effects"

[2012-11-27 18:32] flibitijibibo opened #21 "Ogg files need a re-record"
Not necessarily a problem with the code, but it's worth noting.

The audio/music files used in Open Hexagon clip like crazy, as seen here:

http://www.flibitijibibo.com/yeahno.png

For some audio backends this is fine, but for Linux in particular this will cause all kinds of crackling/popping with SFML2's use of libsndfile.

Here's the SFML bug: https://github.com/LaurentGomila/SFML/issues/310

Th

[2012-11-27 21:19] #21 closed, assigned to nobody

[2012-11-28 10:38] vittorioromeo opened #22 "Linux build"

[2012-11-28 16:29] #19 closed, assigned to vittorioromeo

[2012-11-28 16:29] #18 closed, assigned to vittorioromeo

[2012-11-28 20:36] vittorioromeo opened #23 "Make rotation angle a level JSON parameter (like sides, or speed)"

[2012-11-28 20:36] vittorioromeo opened #24 "Decide what to do with delay_multiplier"

[2012-11-29 06:34] aapo opened #25 "Readme contains old version number"
Readme is first thing to show with github interface, so it should be up to date.

[2012-11-29 13:50] #25 closed, assigned to nobody

[2012-11-29 14:53] cocreature opened #26 "Use gittags for versions"
It would be great if you could use git tags for version numbers. This would make it easier for packagers, especially on the linux side to see which version they need to build. Also it shouldn't be too much work for you.

[2012-12-03 11:44] vittorioromeo opened #27 "Flash screen effect"

[2012-12-07 16:58] #24 closed, assigned to vittorioromeo

[2012-12-07 16:58] #11 closed, assigned to vittorioromeo

[2012-12-07 17:38] vittorioromeo opened #28 "JSON level for every level pack"

[2012-12-08 15:33] vittorioromeo opened #29 "Make level json files define their own "possible" difficulty multipliers"

[2012-12-10 14:37] #29 closed, assigned to nobody

[2012-12-10 14:51] #28 closed, assigned to vittorioromeo

[2012-12-10 21:35] vittorioromeo opened #30 "Customizable keys (requested)"

[2012-12-13 17:09] vittorioromeo opened #31 "/Packs/ folder parsing screws up with non-folder files"

[2012-12-15 00:22] LukasThyWalls opened #32 "Don't save "Pulse" option on restart"
When i restart the game, pulse option is always enabled, althought it's disabled on previous games.

I don't know if its a bug or an enhancement, i don't know if it's prepared for save this option.

Tested on Linux KUbuntu 12.04 32bits

[2012-12-15 16:41] vittorioromeo opened #33 "Zoom variable needs to be reset on newGame"

[2012-12-18 15:07] #33 closed, assigned to nobody

[2012-12-18 15:08] vittorioromeo opened #34 "Segfault on event_exec"
Insanely hard to debug

[2012-12-18 15:10] vittorioromeo opened #35 "Relative and absolute pack file IDs inconsistancies"

[2012-12-19 13:41] vittorioromeo opened #36 "Add A and D for rotation keys"

[2012-12-19 15:27] #34 closed, assigned to nobody

[2012-12-19 15:29] #36 closed, assigned to nobody

[2012-12-19 15:30] #30 closed, assigned to nobody

[2012-12-21 14:30] #31 closed, assigned to vittorioromeo

[2013-01-05 03:07] kyso opened #37 "Restart starts music incorrectly"
OK, every time I die and hit "R" to restart, it starts the music somewhere that isn't where I was when I went through the first time. Is this intended or a bug?

[2013-01-05 12:43] #37 closed, assigned to nobody

[2013-01-05 15:18] LowMo opened #38 "Online Highscores"
Maybe it is possible to implement a global highscore list, so you can see the records from the other players. Just an idea for a new feature ;)

[2013-01-07 16:40] vittorioromeo opened #39 "Requested: update docs"
"It would be great if you updated the level readme file to acknowledge the pulsing effect and how to use it."

[2013-01-07 16:40] vittorioromeo opened #40 "Requested: custom sounds"
"Can you add custom sounds for each level pack in the next release?"

[2013-01-07 17:03] #39 closed, assigned to nobody

[2013-01-07 21:56] vittorioromeo opened #41 "Requested: mouse button control"
"Is it possible that you can add mouse control into the next version? as in Right click for clockwise and Left click for anti-clockwise?"

[2013-01-09 13:59] #41 closed, assigned to nobody

[2013-01-09 14:32] #32 closed, assigned to vittorioromeo

[2013-01-10 14:37] vittorioromeo opened #42 "Spin rotation sometimes starts in the wrong direction"

[2013-01-13 16:01] #42 closed, assigned to vittorioromeo

[2013-01-13 16:27] #27 closed, assigned to vittorioromeo

[2013-01-13 16:51] #40 closed, assigned to vittorioromeo

[2013-01-13 16:57] vittorioromeo opened #43 "Remember to update docs and playtest every level / difficulty multiplier before releasing"

[2013-01-14 17:06] #43 closed, assigned to nobody

[2013-01-27 16:38] ghost opened #44 "Unable to use 0 character for profile names"
Well, you can use A-Z and 1-9 as characters for profile names, but no 0.

[2013-02-10 20:24] vittorioromeo opened #45 "Make beatpulse easier (use BPM?)"

[2013-02-10 20:24] vittorioromeo opened #46 "Cleanup code, use new SSVStart features"

[2013-02-10 20:59] vittorioromeo opened #47 "Background overlays"

[2013-02-11 15:25] vittorioromeo opened #48 "Investigate crash when using invinciblity and changing level"

[2013-02-12 14:57] #44 closed, assigned to nobody

[2013-02-12 15:57] #48 closed, assigned to nobody

[2013-02-12 17:03] #10 closed, assigned to vittorioromeo

[2013-03-01 09:16] vittorioromeo opened #49 "Fix fastspin + direction change in Aperoigon"

[2013-03-01 15:36] #49 closed, assigned to vittorioromeo

[2013-03-01 16:36] #46 closed, assigned to nobody

[2013-03-01 16:39] #20 closed, assigned to vittorioromeo

[2013-03-01 16:40] #15 closed, assigned to vittorioromeo

[2013-03-01 16:40] #23 closed, assigned to vittorioromeo

[2013-03-01 17:28] vittorioromeo opened #50 "Update docs"

[2013-03-01 17:33] vittorioromeo opened #51 "Update levels and playtest"

[2013-03-02 15:07] #50 closed, assigned to vittorioromeo

[2013-03-03 08:13] #26 closed, assigned to vittorioromeo

[2013-03-03 11:19] #51 closed, assigned to vittorioromeo

[2013-03-03 12:14] vittorioromeo opened #52 "Make PI music start a little later"

[2013-03-03 12:14] vittorioromeo opened #53 "Fix disappearing center on death"

[2013-03-03 13:25] #52 closed, assigned to nobody

[2013-03-03 13:40] #53 closed, assigned to nobody

[2013-03-05 15:12] vittorioromeo opened #54 "Crash on restarting after death"
I've received reports of a crash when restarting after death on the levels Aperoigon, PI and Golden Ratio.

I cannot reproduce the crash on my main computer.

I can reproduce it on my notebook, albeit it seems completely random. Sometimes it crashes, sometimes it doesn't. I've noticed it tends to happen more with more 3D layers. I've received reports of it happening with 3D not enabled, though.

V

[2013-03-08 15:45] #54 closed, assigned to nobody

[2013-03-12 06:29] #38 closed, assigned to vittorioromeo

[2013-03-12 19:16] vittorioromeo opened #56 "Colour deactivated menu items differently"

[2013-03-13 19:19] vinipsmaker opened #57 "Compile error"
When I try to compile the newer version of the project, I get the following error:

[code]

I'm using the lastest version of everything and the project compiled before, so this isn't a dependency problem. I believe this is a bug in your source code.

[2013-03-14 16:58] #57 closed, assigned to nobody

[2013-03-18 15:20] vittorioromeo opened #58 "Exceptions thrown by shared libs (SSVLuaWrapper) not being caught"

[2013-03-21 13:00] LukasThyWalls opened #59 "Not working quit Open Hexagon with ESC key"
Don't work for me since 1.8x

I'm testing Linux port and Win port and both can't go out of the game with ESC key, only can go to window mode and quit with X button.

What info i can give you to help?

[2013-03-21 13:02] LukasThyWalls opened #60 "Not working quit Open Hexagon with ESC key"
Don't work for me since 1.8x

I'm testing Linux port and Win port and both can't go out of the game with ESC key, only can go to window mode and quit with X button.

What info i can give you to help?

[2013-03-21 13:03] #60 closed, assigned to nobody

[2013-03-21 13:57] #59 closed, assigned to nobody

[2013-03-22 13:42] vittorioromeo opened #61 "If B&W is on, 3D effects are not transparent"

[2013-03-22 21:38] vittorioromeo opened #62 "Restart with up arrow key (requested)"

[2013-03-23 16:02] vittorioromeo opened #63 "Create ./Profiles folder if it doesn't exist"

[2013-03-29 15:29] #63 closed, assigned to nobody

[2013-03-29 15:31] #62 closed, assigned to nobody

[2013-03-29 15:33] #61 closed, assigned to nobody

[2013-04-12 13:44] #3 closed, assigned to vittorioromeo

[2013-04-12 13:45] #58 closed, assigned to nobody

[2013-04-18 20:27] pekingese1 opened #67 "Unable to start the game at all"
Whenever I launch the game it never loads and stays on a white screen. The command prompt says "Packs/VeeNext/Sounds" Not found. And completely stops running the program.

[2013-04-20 06:27] #67 closed, assigned to nobody

[2013-05-05 15:00] vittorioromeo opened #68 "Friend list / query scores by name"

[2013-05-05 15:01] SuperV1234 opened #69 "Chat room"

[2013-05-05 15:01] vittorioromeo opened #70 "Statistics screen"

[2013-05-05 15:01] SuperV1234 opened #71 "Launcher that checks for updates"

[2013-06-16 10:20] krofna opened #72 "Poor performance"
SSVOpenHexagon uses 100% CPU, regardless of CPU speed. This has some nasty side effects:
- Every game is invalidated by your "anti cheat"
- On slower CPUs (this includes virtual CPUs), levels are impossible to beat because hexagons are too dense.

[2013-06-16 10:41] #68 closed, assigned to nobody

[2013-06-16 14:06] vittorioromeo opened #73 "Crash on level up (fatal bug)"
On some machines, the game crashes on level up, here's a backtrace by @krofna

http://paste2.org/W7yeCxOO

The bug doesn't happen on my machine, neither on the Windows build, nor the native Linux build, nor the Windows build through Wine.

The code related to the crash seems unchanged from 1.91 (and the crash didn't happen in 1.91).

Really strange bug, no idea how to fix.

[2013-06-16 18:56] #73 closed, assigned to nobody

[2013-06-16 19:27] vittorioromeo opened #74 "Game sometimes crashes on exit"
Nothing major, but still annoying

[2013-06-17 14:04] jancborchardt opened #75 "Port to mobile / HTML5?"
Is there any possibility of compiling Open Hexagon to HTML5, so that it’s playable on mobile through the browser? Would be quite cool to have this on Firefox OS for example.

[2013-06-17 16:17] #75 closed, assigned to nobody

[2013-06-20 15:47] krofna opened #77 "Doesn't build on Debian"
- Packages liblua5.1-dev and sparsehash need to be installed before attempting to run build-repository.sh so please write that in README.
- build script requires root because it installs SSV libs by default => bad
- build script installs "/usr/local/src/SSVJsonCpp/jsoncpp.cpp" <--- Why?

In the end, it didn't build.

[code]

[2013-06-21 16:08] vittorioromeo opened #78 "Cleanup code"
Title says it all. Open Hexagon was one of my first C++11 projects, so it has a lot of code which makes me cringe.

[2013-06-30 23:56] #77 closed, assigned to nobody

[2013-07-11 21:43] ghost opened #80 "Fails to build on ubuntu 12.04, gcc 4.6.3"
Followed instructions in readme.

Compile log:

[code]

[code]

[2013-07-13 19:43] mattiascockburn opened #81 "Fails to build under Archlinux ARM current"
Hi,

before i get to the meat of the matter i would like to give thanks to you for building OpenHexagon in the first place and especially that it is available under Linux.
I am trying to build the current git master under Archlinux ARM in order to try it on the Raspberry Pi. The extlibs all build well but OpenHexagon itself is failing. Here is a snippet of the messages i get:

<snip>
Scanning depe

[2013-07-13 23:15] #81 closed, assigned to nobody

[2013-07-23 14:42] mattiascockburn opened #83 "Game crashes when a level is selected with current git-master"
Hi,
i have successfully compiled OpenHexagon on a  fully patched 32bit Archlinux system. When i try to start the game, the background is not animated. If i choose a level to play, the game crashes instantly:

<snip>
[user@hexabox ~]$ cd local/games/SSVOpenHexagon/
[user@hexabox SSVOpenHexagon]$ LD_LIBRARY_PATH=~/local/lib/ DISPLAY=:0 gdb ./SSVOpenHexagon
GNU gdb (GDB) 7.6
Copyright (C) 2013 Free S

[2013-07-23 15:35] #83 closed, assigned to nobody

[2013-07-28 22:01] ghost opened #84 "Cannot compile successfully in ArchLinux x64 GCC 4.8.1"
Cannot build without ThreadWrapper.h in ArchLinux x64.

Commandline:

[code]

If you get the 'ThreadWrapper.h' file from the github SSVStart history, the building continues successfully.

[2013-07-29 09:16] #84 closed, assigned to nobody

[2013-08-05 10:25] #74 closed, assigned to nobody

[2013-08-11 06:15] krofna opened #85 "Changing resolution breaks death effect"
It seems that it is only updated on game start, since restart fixes it.

![screenshot from 2013-08-11 08 14 15](https://f.cloud.github.com/assets/1102695/943694/453a31fc-024d-11e3-8b4f-97c39b0351a6.png)

[2013-08-11 12:34] #85 closed, assigned to nobody

[2013-08-22 15:47] xaxes opened #86 "Icon"
Open Hexagon doesn't have icon and(on linux) it uses default icon for (SFML|Gnome|I don't know). Maybe simple hexagon?

[2013-08-23 16:58] skrzyp opened #87 "Repair, review and optimize build scripts."
Please, review your build system for this project, test it on more configurations and **make it possibe to compile it without any problems on any other machine than your workstation**.

[2013-08-23 19:50] l-margiela opened #88 "Sound does not work"
Sound doesn't work on Ubuntu 12.04 with `Linux 3.8.0-27`. Looks like newer build searches `.ogg` files in `Sounds/` directory(Packs store these files in `Music/`) OR something is wrong with `PulseAudio` support
Example for 1st case:
`[ssvu::FileSystem::ScanHelper]        Directory "Packs/hypercube/Sounds/" not found`
Example for 2nd case:
`AL lib: pulseaudio.c:331: PulseAudio returned minreq > tle

[2013-08-23 20:38] #88 closed, assigned to nobody

[2013-09-03 10:42] fishchev opened #89 "Change triangle behavior"
Feature request: Change triangle (cursor, player or how you name it) behavior in way that makes it impossible to lose by interacting with falling polygon side (like it is in Super Hexagon).
![Example 1](https://f.cloud.github.com/assets/3948703/1071930/c6ae1ab8-1482-11e3-841a-c5169ee0929d.png)
![Example 2](https://f.cloud.github.com/assets/3948703/1071935/e38aebca-1482-11e3-9cb5-d30750d17abf.png)

[2013-09-04 07:09] #89 closed, assigned to nobody

[2013-09-12 08:22] vittorioromeo opened #90 "Local scores not getting saved"

[2013-10-13 13:03] SuperV1234 opened #91 ""Endurance" mode"
I was wondering if scripts can be hot-swapped during gameplay - maybe an "endurance mode" would be possible, where every 30-45 seconds the current script gets randomly changed to another from the same pack.

[2013-10-16 18:54] #72 closed, assigned to nobody

[2013-10-16 19:06] #80 closed, assigned to vittorioromeo

[2013-10-30 22:09] SuperV1234 opened #92 "Email validation"
I have looked around the internet for a good solution to email validation (send an email with a special link to activate registered account). Unfortunately I haven't been able to find a C++ oriented solution and I've never dealt with mail servers before - I'm in need of some guidance here... or maybe I'll just scrap the feature for the 2.0 release, since it's taking way too long

[2013-10-30 22:10] #90 closed, assigned to nobody

[2013-10-30 22:10] #56 closed, assigned to nobody

[2013-10-30 22:10] #78 closed, assigned to nobody

[2013-10-30 22:11] #22 closed, assigned to nobody

[2013-10-31 09:17] #35 closed, assigned to vittorioromeo

[2013-10-31 09:18] #45 closed, assigned to nobody

[2013-11-21 16:13] CrazyCrab opened #93 "Step 5 of installation - wget - fails"
$ LC_ALL=C ./wget-assets.sh ./_RELEASE/
downloading assets
DESTDIR = ./_RELEASE//
Continue? y--2013-11-21 20:12:58--  http://vittorioromeo.info/Misc/Linked/OHResources/Testing/
Resolving vittorioromeo.info (vittorioromeo.info)... 46.4.172.228
Connecting to vittorioromeo.info (vittorioromeo.info)|46.4.172.228|:80... connected.
HTTP request sent, awaiting response... 404 Not Found
2013-11-21 20:12:5

[2013-11-22 08:48] #93 closed, assigned to nobody

[2013-11-22 09:10] CrazyCrab opened #94 "build-repository-oh.sh reports success even though the build was actually unsuccessful"
It should report what's wrong instead.
Here is the output produced by the script.
https://gist.github.com/CrazyCrab/7c1b316b1c19136d729d/raw/5265e3d0e6fae18abd4ded43434119427abfd2a4/build-repository-oh-output.txt

[2013-12-13 15:57] gruzilla opened #95 "Crashes immediately after startup on xubuntu 13.10"
i removed every trace of the game from my laptop (lenovo y500)

then started the game.
entered my profile name -> game crashed.
restarted game -> game crashed

its funny, because i get no error messages on the terminal.
only xorg complains about 3d vision not being available, but google tells me that this is just a info-message no error.

the game crashes immediately after startup without any erro

[2013-12-28 01:27] mhanne opened #96 "Download page for Packs"
Hi, first wanted to thank you for this brilliant game! :)

I've recently reinstalled it on my laptop and when I went to grab the extra level packs from your site, the link only got me to a filebrowser-like thing that says "empty":
http://vittorioromeo.info/Downloads/OpenHexagon/LevelPacks/

I've found most of the Packs I was looking for in this file: http://www.mediafire.com/download/ndznngiri9cwc

[2013-12-29 17:55] seirll opened #97 "2.0: missing libpng16.so.16"
libpng16.so.16 is missing in x86/ in the GNU/Linux version.

[2013-12-31 14:31] #97 closed, assigned to nobody

[2013-12-31 14:32] #95 closed, assigned to nobody

[2014-01-12 12:47] kyrias opened #98 "2.0-RC1 linux archive isn't a xz compressed"
The 2.0-RC1 "xz" compressed download on the website is neither a .xz nor a .tar.xz, it's just an uncompressed tar archive.

[2014-02-19 13:31] judilsteve opened #99 "Distribute BGM tracls as module files."
This isn't really that much of an issue, but you could save bandwidth and improve audio quality a tonne simply by distributing the BGM tracks as module files and synthesizing them in real time, like keygens used to do.

[2014-02-20 13:49] judilsteve opened #100 "Clockwise overrides anticlockwise but anticlockwise doesn not override clockwise"
When I am holding left to spin anticlockwise, pressing right without releasing left overrides the left button and causes the triangle to spin clockwise. However, if I am holding right to spin clockwise, pressing left has no effect on the rotation of the triangle until right is released.

This happens regardless of whether the mouse buttons or arrow keys are used to control the triangle.

[2014-02-21 17:01] #100 closed, assigned to nobody

[2014-02-23 15:10] SuperV1234 opened #101 "Make the game easier to build"
The current build scripts require superuser permissions.
I need to find a way to avoid installing the SSV dependency libraries on the user's system, and instead compile them in a temporary folder and use that folder as an include path in the build system.

[2014-04-14 15:35] ruabmbua opened #103 "Windows issues"
I took a look onto the game on linux, and the binaries worked right out of the box. Now I wanted to install it onto a windows machine. On windows several dll files were missing including the gcc runtime library, and those, which are needed to support c++11. It would be nice, to ship a binary win32 distribution with every library it needs.
Missing libs:
- libgcc_s_dw2-1.dll
- libstdc++-6.dll
- libw

[2014-05-11 15:23] #103 closed, assigned to nobody

[2014-05-11 15:24] #99 closed, assigned to nobody

[2014-07-27 22:25] matijaskala commented on #101
This script can be used to make a unified tarball.
(deleted the code)

[2014-10-13 22:23] jonnius opened #108 "Missing library on Ubuntu 14.04"
Trying to start 2.0-RC1 on Ubuntu 14.04, but get the message:

./x86/SSVOpenHexagon: error while loading shared libraries: libpng16.so.16: cannot open shared object file: No such file or directory

In the repository I only find libpng12. Any chance to play the game on Ubuntu?

[2014-11-08 15:11] ornithologistnightmare opened #109 "[enhancement] Pulse synchronisation?"
I'm having trouble getting the pulses of the walls, the wall colours and the central polygon just right for my own level. I would consider adding an option to synchronise any two of the three and/or all three to each other or any one/two or all three to the music loudness itself (like in Hexagon and Super Hexagon) to make things easier.

I'm using version 1.92 (as I'm not really sure about the "sw

[2014-12-15 15:04] Phitherek opened #110 "[Enhancement][Idea] Tournament edition/mode"
I just thought that it would be really cool to make a Tournament Edition or make a Tournament mode in Open Hexagon. The idea is as follows:
- There is a host who runs a small server to which each Open Hexagon Tournament player (client) can connect. All clients enter waiting mode after connection and setting up nickname.
- When all players are connected to the server, the host can choose a level an

[2014-12-26 15:20] ornithologistnightmare opened #111 "[bug?] Broken patterns..."
I have been making a bunch of patterns for my level pack (search "HyperPack" on GitHub to find it) and have been noticing broken patterns popping up all over the place.

This happens, for example, with the Hyper Tunnel (a highly configurable custom pattern that I made as a generic framework for any tunnel pattern that I want to create).

Here is a particular iteration of the Hyper Tunnel.

![image

[2015-01-03 14:52] ornithologistnightmare opened #112 "[enhancement] "mFrameTime" (without using "onUpdate()")"
Is there a way to make "mFrameTime"  accessible without having to use the "onUpdate()" function (for example - in files that contain patterns and sequencing helpers)? It would be useful for static delays and thicknesses.

I'm trying to create static delays for my spirals. There was originally a slight gap between each wall and I wanted to use mFrameTime to get it working perfectly. I have a workar

[2015-01-13 19:03] DeathHammer000 opened #113 "[development] Need an alternative to CMake!"
I want to build and mod the game for myself, but CMake has been giving me countless errors - and whenever I try to fix them, more just keep on coming up. I need an alternative make utility, as CMake just won't work on my system! Even after two weeks of trying, I just cannot build the game...

[2015-01-13 21:21] diggit commented on #113
cmake is pretty standard thing. Rather than finding workaround, you should fix it. What system do you have. What errors do you get? Do you have problems with different software using cmake to build?

[2015-01-13 21:36] diggit opened #114 "missing std in CMAKE_CXX_FLAGS"
my system: (Archlinux x86_64, gcc version 4.9.2 20141224 (prerelease) (GCC), cmake version 3.1.0)
I am unable to build SSVOpenHexagon from master. GCC complains about features that are not supported in std=c99 (or some default std). I have to add one line to CMakeLists.txt to solve it.
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++14")`
C std should be defined anyway.

[2015-01-14 00:30] diggit opened #115 "user files not stored in HOME (linux)"
All files written at runtime should be located in user's HOME folder. (User has rights to write only there.)
Here is a messy sketch how to get such path. In case of missing folder, create it...
https://gist.github.com/diggit/8b00a85bc602778697ba
IDK where to put such function, due to various files accesses in entire project. (config.json, users.json, log.txt) So no patch submited.

[2015-01-14 16:21] DeathHammer000 commented on #113
I'm on Windows 8.1 and am getting errors with variables. It cannot find my compilers (even though I have MinGW installed at the default location) and also cannot find the Lua directory - yet I have followed all of the instructions. I suspect that the error is SSVCMake and not CMake.

[2015-01-14 16:37] SuperV1234 commented on #113
Getting CMake to work correctly on Windows can be painful at times. That's why I created [build-win-new.sh](https://github.com/SuperV1234/SSVOpenHexagon/blob/master/build-win-new.sh).

You need to run it using bash on Windows (you can easily find bash for Windows online).

It's been a while since I compiled OH on Windows, so it may not work.

[2015-01-14 16:37] #113 closed

[2015-01-14 16:39] SuperV1234 commented on #114
These variables are set in [SSVCMake](https://github.com/SuperV1234/SSVCMake), which is a dependency for every CMake-enabled project I created. I'm using 'c++1y' instead of 'c++14', so that may cause some issues.

[2015-01-14 17:10] DeathHammer000 commented on #113
Okay, but now it cannot find the Lua dll (even though it can find the includes!).

[2015-01-14 17:20] diggit commented on #114
I was not able to build project with supplied scripts. build-repository-oh.sh fails:
[code]
even if I add parameter with build path (local directory called build), it fails with same error. Script probably ignores destination path from parameter.

So now, I am using cmake directly, following PKGBUILD from archlunux AUR.
It basicaly gets all sources, then creates directody `build` and executes ` cm

[2015-01-15 18:47] ornithologistnightmare opened #116 "[building bug?] CMakeLists everywhere?"
I'm getting errors where the build scripts cannot find CMakeLists - even though it's in the source directory. It's looking for the file in random places (like the system root and the Documents library). This is preventing me from building the program. I known that build-win-new.sh is experimental, but surely build-win.bat should work.

This error is causing there to be no files to be passed to Min

[2015-01-17 20:41] diggit commented on #116
From which directory do you execute that script? Exact error message could tell us more.

[2015-01-18 08:53] lolomokakus opened #117 "cmake fails when trying to build on Linux"
I was trying to build Open Hexagon on my Linux machine. I followed the instructions and everything went well until I ran build-repository-oh.sh, which told me this:

[code]

[2015-01-18 16:41] SuperV1234 commented on #117
Whoops, there was an old reference to the now deprecated `SSVUtilsJson` library in the script. Let me know if it works now.

[2015-01-18 16:45] DeathHammer000 commented on #116
Here's the log (generated during a run of build-win-new.sh): http://pastebin.com/04Quhk4T

I'm executing it from the "SSVOpenHexagon" directory (where all of the batch files are). The errors my have changed (I have since reinstalled multiple MinGW packages and also updated MSYS Git from "1.8.4-preview" to "1.9.5-preview" to fix issues with "make").

[2015-01-18 16:54] zeroxfourc commented on #117
Well, now it looks like this:

[code]

[2015-01-18 17:01] SuperV1234 commented on #117
What linux distribution are you using? On Arch Linux x64 (my system) LUA is found correctly

[2015-01-18 17:08] zeroxfourc commented on #117
Debian 8 (jessie). I have liblua5.2-dev installed.

[2015-01-18 17:18] SuperV1234 commented on #117
Go into `./extlibs/SSVLuaWrapper/` and set `LUA_INCLUDE_DIR` yourself by using `cmake -DLUA_INCLUDE_DIR`. Build the library then use the script again afterwards.

[2015-01-18 17:22] zeroxfourc commented on #117
LUA_INCLUDE_DIR is a variable right? What should I set it to?

[2015-01-18 17:46] diggit commented on #116
It looks like a problem with external libs. You can try to remove all files from `C:/OHWorkspace` before building. This script do not handle existing files/directories.

[2015-01-18 17:48] SuperV1234 commented on #117
Yes. You should set it to the location where your LUA include files are. Look for the `lua.h` file on your system and use `cmake -DLUA_INCLUDE_DIR="..."` to point CMake to that location.

[2015-01-19 07:21] zeroxfourc commented on #117
Well, now it seems to find lua.h. However, now i get this instead:

[code]

[2015-01-19 08:29] SuperV1234 commented on #117
Try compiling SSVLuaWrapper manually:

[code]

[2015-01-19 11:24] zeroxfourc commented on #117
When running make i get this:
[code]

[2015-01-19 19:36] DeathHammer000 commented on #116
More errors (after trying that). http://pastebin.com/ti8TE2bv

I tried to set some of the variables using the CMake GUI and it's still failing.

[2015-01-19 20:00] diggit commented on #116
Is that a complete log? SFML library is downloaded by script automaticaly, same as lua. Interesting, that SSVCMake is not missing now. I'll try to run this script on my linux machine with few modifications to verify functionality. These scripts definitely needs some care.

[2015-01-19 20:22] diggit commented on #116
Script looks ok to me, after executing `sh ./build-win-new.sh` lua and SFML got downloaded and SFML built. Even main build part started. Many CMAKE variables are hard defined in build script. So some environment variables changes would give no effect.

[2015-01-20 17:41] DeathHammer000 commented on #116
Seeing as I run Windows, what can I do? I'm just completely stuck.

[2015-01-20 17:47] SuperV1234 commented on #116
Sorry for the hassle, I rarely use Windows for programming and the scripts are of poor quality and updated. However, by downloading SFML, LUA and the other required libraries, you should be able to use CMake-GUI to manually set variables such as ` LUA_INCLUDE_DIR` to the right location.
If that still doesn't work, could you post a screenshot of your CMake-GUI with set variables?

[2015-01-20 18:42] DeathHammer000 commented on #116
Whoops. I use the file under /lib, not /build. Will see if this works.

[2015-01-27 21:02] dieeasy commented on #115
+1
had to change file permissions in /usr/local/games/SSVOpenHexagon/ to be able to keep configuration/records (playing 2.0RC2 from .deb package)

[2015-01-27 21:09] dieeasy opened #118 "focus (LShift) cannot be undone"
I play OpenHexagon 2.0-RC2 on Debian sid, installed from the .deb package provided [on the homepage](http://vittorioromeo.info/Misc/Temp/OpenHexagon2.0-RC2.deb).

I can play fine locally (not online but that's another issue), except sometimes after playing back and forth the available levels the triangle just moves way too slowly.

I did some tests and this seems to simply be the "focus" (left shi

[2015-01-28 08:14] SuperV1234 commented on #118
I cannot reproduce the issue. Is there are other detail you could give me?
Also, servers are currently offline.

[2015-03-26 02:20] vedard opened #119 ""./build-repository-rel.sh -s" will produce "rm -Rf /*""
This will delete everything in home folder and more if the script is root

[2015-03-26 13:24] SuperV1234 commented on #119
What is the best way of making the script safer? I already ask for confirmation before deleting the files. Not sure what should be done to prevent mistakes

[2015-03-26 13:38] vedard commented on #119
I don't know what is the right way to make this script safe, but one thing you could is to verify that the "absolutePath" can't  be empty. Now it only check if the first parameter is empty, wich is normally the path but you can't be sure (user like me are sometime idiot and don't read all instruction)

[2015-03-26 14:31] vedard commented on #119
Steam had pratically the same problem recently
http://askubuntu.com/questions/574686/steam-install-can-erase-my-home-how-to-prevent-it

[2015-05-11 19:21] oxodao opened #120 "Touchscreen support"
Hi,
I see that left and right click rotate the thing, but I highly suggest you to add a touchscreen support like SuperHexagon on Android.
Touching the left side of the screen rotate left, touching right rotate left, maybe add a button on the bottom.

I recently bought a Asus T200 tablet on Windows, and I miss *Hexagon on it since the Windows version of SuperHexagon can't handle touchscreen neither

[2015-05-25 19:18] MisterDood opened #121 "Syntax error in cmake code at SSVOpenHexagon/extlibs/SSVCMake/cmake/modules/Common.cmake:87 + Solution"
When trying to build the latest version of Open Hexagon on Gentoo with g++ 4.8.4 and cmake 2.8.12.2, I kept getting the following build error:

    $ ./build-repository-rel.sh ../bin
    Installation path: /home/misterdood/Games/openhexagon/bin
    Non-release mode activated - RPATH will not be skipped
    Normal user mode activated - SSV libraries will be compiled in a temp folder
    Continue? [

[2015-05-25 20:16] SuperV1234 commented on #121
CMake 3+ supports backslashes to create line continuations. I'd love to port Open Hexagon to Gentoo's package system but I have no experience with Gentoo and no time at the moment, (many university exams!) sorry.

[2015-05-25 20:16] #121 closed

[2015-05-30 04:29] lukeadams commented on #87
For dependencies, I suggest that we use some sort of package manager. Instead of a shell script that clones depends (requiring us to manually take care of building, etc), a package manager will take care of making them available for building and linking. I found [cpm](https://github.com/iauns/cpm), which looks promising.
`
  CPM_AddModule("aabb"
    GIT_REPOSITORY "https://github.com/iauns/cpm-glm

[2015-12-13 10:39] kirtangajjar opened #124 "Unable to build it on Ubuntu"
Here is the output of ./build-repositart-rel

[code]

Although it throws error in couple of places, the final output is always success. Most of the error are from `vrm/pp.hpp`.

Having the same issue in Operation Bloodshed :(

[2015-12-13 13:30] SuperV1234 commented on #124
Added the missing dependency to `CMakeLists.txt`. Let me know if it works

[2015-12-13 14:06] kirtangajjar commented on #124
That solved it, but got a new error on `SSVUtils/Test/Test.hpp`  -

[code]

[2015-12-13 14:23] SuperV1234 commented on #124
Sorry about that - had some old files in my `/usr/include` which were removed from the libraries. It should be fine now.

You may need to pull submodules with `git submodule foreach 'git pull origin master'`.

[2016-02-01 04:17] lukeadams opened #126 "Rewrite Build System"
### TODO
- [x] Use CMake exclusively
- [x] Use CPM instead of Git Submodules (isolation between deps and source code)
- [ ] Linux+OS X reproducible builds (#22)
- [ ] Detect deps needed for build, warn+fail when they aren't found (#77, [comment](https://github.com/SuperV1234/SSVOpenHexagon/issues/94#issuecomment-29098063),
- [ ] Wiki pages for building (#10, #113), maybe even contributing? (well,

[2016-02-01 05:09] amadeuspagel opened #127 "Can't build on Debian Jessie"
I tried to follow the instructions in the README, but ./build-repository-oh.sh
doesn't exist at all. So I tried ./build-repository-rel.sh, and get this message.

    Installation path: /home/amadeus/OH
    Non-release mode activated - RPATH will not be skipped
    Normal user mode activated - SSV libraries will be compiled in a temp folder
    Continue? [Y/N] y
    projectName: SSVOpenHexagon

[2016-02-01 14:36] SuperV1234 commented on #126
Hello Luke, your proposal sounds great and very well thought-out.
The build system present in OH (and my other projects) is horrible and hard to use and maintain.

Go ahead and feel free to contact me here or via email if you need help with anything.

[2016-02-01 14:37] SuperV1234 commented on #127
It seems that LUA was not found on your system. Is LUA installed?

[2016-02-03 17:51] MultHub commented on #127
Just a note: build-repository-oh.sh is in old_scripts

[2016-02-03 18:25] amadeuspagel commented on #127
Lua 5.2 and 5.1 is installed.

[2016-02-03 18:28] amadeuspagel commented on #127
build-repository-oh.sh gets me this error:
[code]

[2016-02-03 19:26] SuperV1234 commented on #127
`build-repository-oh.sh` is outdated. Could you manually set `LUA_INCLUDE_DIR` and `LUA_LIBRARY` to the correct paths using `cmake-gui` or `cmake` from the command line?

[2016-02-03 23:42] amadeuspagel commented on #127
Done and tried again, the result is still the same, an empty folder named x86 and a file named OpenHexagon with this content:
[code]
[The output](https://gist.github.com/amadeuspagel/5fa2b06ff8fa1633e1ae)

[2016-02-04 00:18] SuperV1234 commented on #127
What is your version of gcc?

[2016-02-04 00:19] amadeuspagel commented on #127
4.9.2

[2016-02-04 00:20] amadeuspagel commented on #127
I see.

[2016-02-04 00:22] SuperV1234 commented on #127
That's the issue then - it's too outdated. You could try using clang, or updating to gcc 5.x

[2016-02-04 00:25] amadeuspagel commented on #127
How do I use clang?

[2016-02-04 00:30] SuperV1234 commented on #127
You could try:
`cmake -DCMAKE_CXX_COMPILER=clang++ `

[2016-02-04 00:37] amadeuspagel commented on #127
Done, tried again, but still the same result.

[The Output](https://gist.github.com/amadeuspagel/38d9a5b4248557131626)

[2016-02-04 00:52] amadeuspagel commented on #127
Does it also depend on libpng16?

[2016-02-04 15:00] SuperV1234 commented on #127
Looks like the problem is not with gcc itself, but with libstdc++ (which is bundled with gcc). More information here: http://stackoverflow.com/questions/27922141/stdrbegin-and-stdrend-function-in-gcc-4-9-and-clang-3-5

Your version of gcc needs to be upgraded to 5.x.

[2016-02-04 18:15] lukeadams commented on #126
Yay! I'm glad you like it. I will definitely contact you if i need anything.

[2016-02-08 15:34] MultHub opened #128 "recursiveFillIncludedLuaFileNames is broken"
How to reproduce:
- `u_execScript("script"..n..".lua")` (assuming that script exists)
- script *would* run, but game crashes on startup unless "script" exists

Workaround: `u_execScript (...)` (with space)

[2016-02-09 19:17] lukeadams commented on #126
Just a heads up, I'm going to switch from CPM to [Hunter](https://github.com/ruslo/hunter) (CPM seems abandoned, Hunter seems much more robust).

[2016-02-10 09:33] SuperV1234 commented on #128
What is the actual problem here? Is it just necessary to check whether the file exists before looking for it?

(Also, why does it work by using a space?)

[2016-02-10 14:24] MultHub commented on #128
Yes.

Because it looks for `execScript(`, without a space

[2016-02-10 15:15] SuperV1234 commented on #128
I've (quickly) rewritten the parsing function and added informative exceptions in case a Lua file doesn't exist in commit ea29a7ff8651d0ad3689dbd4e4c72cdab2d66a35

[2016-02-11 19:34] powie444 opened #130 "Help!"
I Need A Pre-Built Version Of The Latest Open Hexagon Commit!
I Can't Compile It! ):
P.S. Sorry About The CamelCase.

[2016-02-13 23:38] lukeadams commented on #126
So I have a `cpm` branch on most of the dependency repos (mostly a boilerplate CMakeLists.txt to make CPM happy). Now I'm just linking them together (so it builds – which it doesn't do yet :cry:).
What do you think? ([here](https://github.com/lukeadams/SSVOpenHexagon/blob/cpm-deps/CMakeLists.txt#L27-L31) is an example of SSVCmake being included)

[2016-02-13 23:40] lukeadams commented on #126
Also [CMake seems to have nice CC support built in](https://cmake.org/Wiki/CMake_Cross_Compiling). We _might_ be able to create Windows binaries on a Linux machine (with Travis – automatic builds!) :sweat_smile:

[2016-02-14 00:08] lukeadams commented on #130
@powie444, do you have any more information?
What error messages did you see? (if long please post in a Gist or pastebin)
What did you try?
Oh and what platform?
Thanks :+1:

[2016-02-14 16:33] SuperV1234 commented on #126
Looks great! I'm not familiar with CPM, but (correct me if I am wrong), it seems to automatically download and update the latest dependencies from GitHub.

Some questions:

* Why have you decided to go with CPM and not Hunter?

* How are recursive dependencies handled (tree of libraries that depend on each other)?

* Is it still possible to easily build the project by manually pulling the dependen

[2016-02-15 00:35] lukeadams commented on #126
Yes, CPM basically 1.) downloads a dep (from Git or otherwise), and 2.) lets you pin it to a Git tag for versioning / a branch.
It also takes care of header inclusion (e.g. SSVEntitySystem would export its header file(s), consumers would not have to care about where the header actually is just reference by module name)
So to answer your questions:
- CPM is much simpler than Hunter (which doesn't p

[2016-02-15 06:05] lukeadams commented on #126
I have the deps linked together – now to make it compile
[code]
^ That's the dep tree. Note the `(reused)` on many of the entries.

[2016-02-17 00:49] lukeadams commented on #126
Just a heads up: g++ or non-stock Clang must be installed to build on OSX. Apparently g* links to Clang [which doesn't allow thread_local](https://stackoverflow.com/questions/28094794/why-does-apple-clang-disallow-c11-thread-local-when-official-clang-supports) (I can not for the life of you explain why Apple chose to do that...)

[2016-02-21 05:17] amadeuspagel commented on #127
I just tried this on Fedora with gcc 5, because there's no gcc 5 backport for debian jessie. I still get the same results.

Based on the errors I get when trying to use the .xz package and the output I think the problem is on both Fedora and Debian, that it can't find the libraries. It seems that OpenHexagon searches for libraries in two directories, usr/local/lib and usr/lib, while on fedora and

[2016-02-21 15:19] SuperV1234 commented on #127
@amadeuspagel I just compiled it properly on Fedora with `clang++`. `g++` doesn't seem to work on Fedora, it is bugged (crashes during compilation).

My main distro is Arch Linux anyway, and I can compile all my projects on it with both compilers

[2016-02-22 22:02] amadeuspagel commented on #127
Just tried it in Fedora with clang++ and still get the same results.

Could it be a hardware problem? I have an i5 and 8 GB RAM, thought that should be enough to compile this, but is it?

[2016-02-23 16:50] SuperV1234 commented on #127
Could you post the compilation log again? (With Fedora)

[2016-02-23 19:07] lukeadams commented on #126
Appveyor is free for OSS projects: https://www.appveyor.com/pricing

[2016-02-23 23:31] lukeadams commented on #126
[code]
So you can call `make fetch-assets` pre-build, or just make fetching part of the build process

[2016-02-24 01:53] amadeuspagel commented on #127
Here it is: [(https://gist.github.com/amadeuspagel/c50bc3a56795778a5454)]

[2016-02-24 13:05] SuperV1234 commented on #127
It did successfully build: `[100%] Built target SSVOpenHexagon`.

Anyway, there's no need to use the script - I think it's easier to just compile it using the following commands.

[code]

[2016-02-25 02:45] amadeuspagel commented on #127
The commands work. Thank you!

[2016-03-05 15:03] powie444 commented on #130
I Just Need A Pre-Built Version+Assets, So That I Can Check Out The New Stuff, Okay?
Love, Alek.

[2016-03-08 17:25] MultHub commented on #112
Random update: l_getLevelTime()

[2016-03-09 15:43] MultHub commented on #130
Windows or Linux?

If Windows then same problem here, else just ask me

[2016-03-13 05:37] lukeadams commented on #126
!!!
![screen shot 2016-03-12 at 23 35 38](https://cloud.githubusercontent.com/assets/3508077/13727123/4f9ed2aa-e8ab-11e5-921a-8302b80b8b94.png)
OSX is working

[2016-03-13 06:57] lukeadams commented on #126
Need to test on Windows/Linux.
On OSX to build:
[code]
...and it launches!
Might have missed a dep. Still need to verify which ones I ended up using...

[2016-03-13 13:33] SuperV1234 commented on #126
Awesome job! Glad to see it finally running on OSX.  Looking forward to the completed build system - let me know if you need help or want me to run some tests.

[2016-03-14 13:07] powie444 commented on #130
Windows.
(Note: Using School Chromebook Right Now.)

[2016-03-14 14:40] SuperV1234 commented on #126
This could be interesting: [cget](https://github.com/pfultz2/cget)

[2016-03-18 12:40] darealshinji opened #133 "Linux: can't build using GCC 5.3"
See build log: https://gist.github.com/darealshinji/fd8dc3322f7615bf0e7b
It fails at the very first target `CMakeFiles/SSVOpenHexagon.dir/src/SSVOpenHexagon/Components/CWall.cpp.o`

I'm using gcc 5.3.0 (built from source) and cmake 3.5.0 (pre-built binaries from cmake homepage) on Ubuntu 14.04.

[2016-03-18 13:16] darealshinji commented on #108
Remove all files **but** the following from the directory `x86`:
[code]
Then change the permissions of the executable: `chmod 0755 x86/SSVOpenHexagon`

The game should now run. On non-Ubuntu/Mint distros it should work too if you also leave `libjpeg.so.8` and `libjpeg.so.8.0.2`.

[2016-03-18 16:06] SuperV1234 commented on #133
Looks like the SFML version is not recent enough - could you try building it with SFML from the [GitHub repository](http://github.com/LaurentGomila/SFML)?

[2016-03-18 20:04] darealshinji commented on #133
Yes, with a current version of SFML it's working.

[2016-03-18 20:04] #133 closed

[2016-03-19 08:19] darealshinji commented on #130
I can build it on Windows, but it doesn't run:
[code]

[2016-03-19 13:32] jonnius commented on #108
Thanks for the answer. I am not using Ubuntu 14.04 any more, nut Ubuntu GNOME 15.10. I just downloaded the recent version from humble bundle and it works like a charm without any bug...

[2016-03-19 13:59] darealshinji commented on #108
Ok. Anyway, here's a portable build that includes all dependencies which might be missing or cause trouble on different systems: https://drive.google.com/file/d/0BxClEVSW8QykaGkyOHRVazFoOUk/view?usp=sharing

[2016-03-19 15:25] jonnius commented on #108
I confused Super Hexagon with Open Hexagon...
Now I installed 2.0-RC2 (deb) and got that message (during install):

[2016-03-19 15:53] darealshinji commented on #108
That package is not well build. It's actually not much different from downloading and extracting a tarball.
Try the build that I have posted in my previous comment. Or download the Linux archive from the official homepage (`OpenHexagon2.0-RC1.xz`), rename it's extension to `.tar` and try the suggestions from my first comment.
I'm a bit in a middle of creating a .deb with a menu entry, resolving de

[2016-03-19 18:13] powie444 commented on #130
)':

[2016-03-19 18:25] SuperV1234 commented on #130
@darealshinji Weird - I built it on Windows a few weeks ago and it worked. What's the error code for the segfault?

[2016-03-19 23:30] lukeadams commented on #130
Did the assets copy properly? A similar error happened on Darwin when I tried to build it.
(Although it seems to be reading the audio files just fine...)

[2016-03-20 12:17] darealshinji commented on #108
Here's my `.deb`: https://drive.google.com/file/d/0BxClEVSW8QykSHU3Sy0zLU1qV3M/view?usp=sharing

[2016-03-22 13:14] jonnius commented on #108
With your deb it works fine! Thanks

[2016-03-22 13:14] #108 closed

[2016-03-23 01:44] powie444 commented on #130
Just Compile The Latest Build And Send A Zip Containing The _RELEASE Folder To Me By Email.
My EMAIL Address: dookie.gookie86@gmail.com

[2016-03-24 22:15] darealshinji commented on #130
@SuperV1234
[code]

[2016-03-25 19:26] SuperV1234 commented on #130
@darealshinji
Seems like a stack overflow error... I thought I had fixed that. Can you try compiling linking with `-Wl,--stack,4194304` ?

[2016-03-28 14:49] darealshinji commented on #130
@SuperV1234 No, still the same. I've tried https://github.com/SuperV1234/SSVOpenHexagon/commit/144dd9e6cb4b2deed123faa1f23799512f34c371 and I've also tried with `-Wl,--stack,8194304` as in build-win-new.sh, but nothing helped.

[2016-04-11 14:59] SuperV1234 commented on #130
@darealshinji I had time to compile the project on Windows today and I can confirm that it crashes. I will investigate and try to debug the error

[2016-04-17 17:21] amadeuspagel opened #134 "terminate called after throwing an instance of 'std::bad_alloc' what(): std::bad_alloc"
OpenHexagon works great when I cd to the _RELEASE directory and call it with ./SSVOpenHexagon, but I get an error when I try to call it directly:

[code]

[2016-04-18 12:36] MultHub commented on #134
probably because it expects the files to be in the working directory

[2016-04-18 17:23] amadeuspagel commented on #134
If someone has the same problem just save this as oh.sh in your home directory, run `chmod +x oh.sh` and than you can start OpenHexagon with `oh.sh`

[code]

[2016-04-18 17:23] #134 closed

[2016-04-21 21:58] #127 closed

[2016-04-21 21:59] amadeuspagel opened #135 "Could you add "J" and "L" as movement keys, for left and right?"

[2016-04-22 06:20] MultHub commented on #135
## How to add keys
### Step 1
Edit your config.json, find the lines with t_rotate_ccw and t_rotate_cw
### Step 2
Add the keys ._.

[2016-05-02 11:57] SuperV1234 commented on #130
@darealshinji: I had some free time today and managed to successfully compile and run Open Hexagon (last revision) on Win64. I used [this MinGW distro](http://nuwen.net/mingw.html), replacing std thread/future dependencies with boost. I compiled SFML from scratch and used [these Lua binaries](https://sourceforge.net/projects/luabinaries/files/5.3.2/Windows%20Libraries/Dynamic/). The changes are cu

[2016-05-02 17:43] lukeadams commented on #130
I can't check right now, but does that eliminate the use of thread_local? If so the non-Apple clang requirement would be removed for OSX (awesome)!

[2016-05-02 18:33] SuperV1234 commented on #130
@lukeadams: nope, just works around some Windows-related MinGW issues. I looked into the `thread_local` problem - still have to work on it though

[2016-05-02 18:46] lukeadams commented on #130
Haha that's all good. It just adds one step for building on OSX.
Speaking of which I will work on that once school ends. Sort of dropped the ball there – sorry about that.

[2016-05-02 21:07] amadeuspagel commented on #135
Thanks.

[2016-05-04 02:20] darealshinji opened #138 "CMake should fail if stdc++14 check fails"
Right now it does this `SSVOPENHEXAGON_HAS_STDCXX14` check, but it still continues even if the C++ compiler doesn't support c++14. I think it's better if CMake would stop and tell the user that a c++14 compatible compiler is required.

[2016-06-04 14:54] SuperV1234 commented on #138
Added a new `vrm_cmake_set_cxxstd` macro to `SSVCMake`:

[code]

It is called by default by `vrm_cmake_init_project`, with `14` as the parameter.

[2016-06-04 14:54] #138 closed

[2016-07-28 20:34] powie444 commented on #130
DID YOU FORGET ABOUT GIVING ME A COMPILED VERSION OF THE LATEST BUILD?!

[2016-07-28 20:41] powie444 opened #139 "Give Me A Compiled Version Of This Commit, Please!"
https://github.com/SuperV1234/SSVOpenHexagon/tree/1cef3a741933c36b66b7605ac591ece1c8fe2076

[2016-07-28 20:47] powie444 commented on #139
Link To An Example Of What You Can Do With l_setLevel
https://www.youtube.com/watch?v=U6an7ntIdxo

[2016-07-28 20:48] MultHub commented on #139
a compiled version of an outdated tree?

[2016-07-28 20:57] powie444 commented on #139
YES! BECAUSE l_SetLevel IS USED IN THE VIDEO!!!!

[2016-07-28 21:00] MultHub commented on #139
`l_setLevel` is an ancient function and "we" removed it, use `s_setStyle` and `u_setMusic` instead as `l_setLevel` just combined these two

[2016-07-28 21:00] powie444 commented on #139
But IT CHANGES THE SCRIPT TOO, DOESN'T IT?!

[2016-07-28 21:01] MultHub commented on #139
no

[2016-07-28 21:01] powie444 commented on #139
Oh.

[2016-07-28 21:01] powie444 commented on #139
THEN COMPILE THE LATEST ONE, PLEASE!

[2016-07-28 21:03] MultHub commented on #139
Too tired to even try, you might be able to get help from @SuperV1234 for this

[2016-07-28 21:05] powie444 opened #140 "VEE!"
GIVE A COMPILED VERSION OF THE LATEST BUILD, PLEASE!

[2016-07-28 21:06] powie444 commented on #140
@SuperV1234

[2016-07-28 21:06] powie444 commented on #140
@SuperV1234

[2016-07-28 21:06] powie444 commented on #140
SuperV1234

[2016-07-28 21:06] powie444 commented on #140
@SuperV1234

[2016-07-28 21:06] powie444 commented on #140
@SuperV1234

[2016-07-28 21:06] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] MultHub commented on #140
GOING ALL CAPS TO ASK FOR A COMPILED VERSION ISN'T THAT GREAT OF AN IDEA, you should stop spamming or you might lose the chance of getting a compiled version at all

[2016-07-28 21:07] powie444 commented on #140
@SuperV1234

[2016-07-28 21:07] powie444 commented on #140
Whoopsies!

[2016-07-28 21:08] MultHub commented on #135
Ancient issue, we should close this

[2016-07-28 21:10] #128 closed

[2016-07-28 21:10] SuperV1234 commented on #139
Holy shit. ![much_email](http://i.imgur.com/PKw6DuF.png)

I temporarily blocked you, @powie444, because I do not tolerate spam and childish behavior. When I'll compile a new version Open Hexagon it will be available for everyone on my website.

[2016-07-29 00:11] #135 closed

[2017-03-14 23:08] vanitasvitae opened #141 "Build on Debian testing"
Hi!
It took me quite some time to get this built on Debian testing (stretch), but now I somewhat succeeded. I don't know all steps anymore, since I tried a lot, but here are some things I did that were not mentioned in the readme:
[code]

I don't know, if this helped, but I also symliked libsfml-{audio,graphics,window,system,network}.so to libsfml-XXX.so.2

Then I was able to run the game. Correct

[2017-03-18 12:33] SuperV1234 commented on #141
Hello - great to hear that you managed to successfully compile and run the game!
Unfortunately both the build process and the build instructions are not very good, apologies for that.

I'll look into improving it for the OSs I personally use (Arch Linux and Windows), but I would greatly appreciate a PR with Debian instructions :)

[2017-04-08 21:17] Mistress-Anna opened #142 "no assets in repository?"
Why aren't the assets in the source repository and is there a script to fetch them elsewhere? Are they under a license which makes them unreleasable on github? Is there another reason?

[2017-04-09 11:41] SuperV1234 commented on #142
I don't like the idea of putting audio and other large assets on VCS. Having a script to fetch them is a good idea.

The easiest way to obtain the 2.0 assets right now is probably to download this version of the game:
http://vittorioromeo.info/Misc/Temp/OpenHexagonV2.0-RC2-Win32.zip

[2017-04-15 19:22] #142 closed

[2017-04-15 19:25] #119 closed

[2017-04-15 19:26] SuperV1234 commented on #118
Feel free to reopen if you can reproduce the issue. Please add the steps in that case.

[2017-04-15 19:26] #118 closed

[2017-04-20 09:53] Calinou opened #143 "License and GPL compatibility"
I see that this project switched to the Academic Free License a while ago, [which is not GPL-compatible according to the FSF](http://www.gnu.org/licenses/license-list.html#AcademicFreeLicense). (It looks like it used to use the [MIT license](https://github.com/SuperV1234/SSVOpenHexagon/commit/ea75fb39d553c385e32782a0023717f674f4d4ad) before.)

Also, the AFL isn't a very commonly used license – [it

[2017-06-23 07:52] JaeTheHyena opened #144 "Update?"
Please, release update!

[2017-08-11 15:52] phoe opened #145 "Assertion failed"
Built the most recent version on debian a minute ago.

[code]

[2017-08-11 19:13] SuperV1234 commented on #145
You probably need the game's assets - the current way of solving this issue is downloading the latest playable version from my website and copy-pasting the assets to your version. Let me know if that works.

[2017-08-11 20:00] phoe commented on #145
Resolved, thanks!
The assertion could use a slightly better error message.

[2017-08-11 20:00] #145 closed

[2017-08-11 20:00] phoe opened #146 "Assertion failed when playing"
Most recent version on Linux, just after starting Golden Ratio.

[code]

[2017-08-11 20:56] MultHub commented on #146
🤔  the failed assertion points to an invalid hue value for HSV conversion, not sure how the code could trip like that

[2017-08-23 20:07] #98 closed

[2017-08-23 20:42] SuperV1234 commented on #146
I think this is either a floating point math error or some issue with how the `hueShift` is calculated. Regardless, 38f3216a95ff8bf8168f44a85bdc8111e3d72819 should fix the issue. Please confirm.

[2017-08-23 21:31] phoe commented on #146
@SuperV1234 I can't confirm directly because it's an intermittent issue. But, I will recompile with this patch and let you know if it breaks again. Thanks!

[2017-08-24 11:44] mateon1 opened #149 "README link for building SFML 2 broken"
The link to the build guide for SFML is dead, it points to a wordpress login saying the post is marked private.

[2017-08-26 12:06] SuperV1234 commented on #149
Thanks, I've changed the link to this:
https://www.sfml-dev.org/tutorials/2.4/compile-with-cmake.php

[2017-08-26 12:06] #149 closed

[2017-08-26 12:07] SuperV1234 commented on #146
Closing this - feel free to reopen if the issue occurs again.

[2017-08-26 12:07] #146 closed

[2017-09-06 19:25] Mistress-Anna commented on #142
The problem is that they are not versioned, the URL can become unavailable, the git repository is not self-contained, making a zip of the sources is harder to do.

[2017-09-06 19:54] SuperV1234 commented on #142
I understand your concern - I'll consider creating a separate "assets" git repository.

[2017-09-07 20:28] SuperV1234 commented on #142
@Mistress-Anna: I've created the [SSVOpenHexagonAssets](https://github.com/SuperV1234/SSVOpenHexagonAssets) repository which contains music and sounds. It is sufficient to copy its contents to a clone of the `SSVOpenHexagon` repository.

[2017-09-20 18:21] CatsAreFluffy opened #150 "OSX build?"

[2017-09-21 15:49] SuperV1234 commented on #150
I don't own a Mac, but I see no particular reason this wouldn't build on OSX. You are welcome to try building if you own a Mac - let me know how it goes and if you have any question.

[2017-09-23 23:07] CatsAreFluffy commented on #150
Well, I'm kinda lazy, so i just used Wine :P

On Thu, Sep 21, 2017 at 8:49 AM, Vittorio Romeo <notifications@github.com>
wrote:

[2017-11-18 13:23] lithiumjs opened #151 "No ./build-repository-oh.sh"
There's no ./build-repository-oh.sh in the repository, only ./build-repository-rel.sh

How to use it?

P.S. I'm using Manjaro Linux

[2017-11-18 14:27] SuperV1234 commented on #151
Sorry, the README is outdated. You should be able to simply follow the usual CMake workflow after cloning:

[code]

[2017-12-18 23:46] #126 closed

[2018-02-08 18:37] PyRectangle opened #152 "X Error of failed request"
I have compiled OpenHexagon on raspberry pi. It has worked, but suddendly there comes this error:

"X Error of failed request:  BadValue (integer parameter out of range for operation)
  Major opcode of failed request:  1 (X_CreateWindow)
  Value in failed request:  0x0
  Serial number of failed request:  50
  Current serial number in output stream:  51
AL lib: (EE) alc_cleanup: 1 device not closed

[2018-02-08 20:47] SuperV1234 commented on #152
Does this happen on startup? Do you have a stack trace?

[2018-02-09 16:17] PyRectangle commented on #152
Yes, it happens at startup.
There is the complete output:
[ssvuj::logReadError]                 * Line 1, Column 1
  Syntax error: value, object or array expected.

From: []
[hg::Online::connectToServer]         Connecting to server...
[::loadConfig]                        loading config
[hg::Online::connectToServer]         Failed to connect
[ssvs::AssetManager::load<T>]         imagine.ttf resou

[2018-02-11 11:12] PyRectangle commented on #152
I fixed everything by recompiling.
I read issue https://github.com/SuperV1234/SSVOpenHexagon/issues/81, but the performance isn't that bad. You just have to activate the GL driver in raspi-config to get around 100  fps.

[2018-02-11 11:13] #152 closed

[2018-08-02 10:47] kiwec opened #153 "Build broken on windows"
Builds fine on Devuan (and incredibly simple build process) following https://github.com/SuperV1234/SSVOpenHexagon/issues/151.

Unfortunately, on Windows, several issues pop up :
- Boost is a dependency not mentionned in the readme
- FindLUA.cmake has some issues finding liblua52.lib, since it's released as liblua52.a
- SSVUtilsJson isn't provided in extlibs (works fine in linux though ?)
- SSVCMa

[2018-08-26 13:56] #114 closed

[2018-08-26 13:58] #115 closed

[2018-10-10 06:04] bmwalters commented on #151
[I created an Arch PKGBUILD for OpenHexagon!](https://gist.github.com/bmwalters/4506967a306c5c3945b37b69dffab67e) It's not in the AUR yet, but you can install it by downloading the file and running `makepkg` then `pacman -U <resulting tarball>`. It's currently a bit abnormal due to the fact that assets need to be next to the binary, but that's something that can be improved later.

[2018-10-10 12:07] SuperV1234 commented on #151
Thanks @bmwalters! I have not tested it yet, but will soon. Do I need to take any action to make this AUR-ready?

[2018-11-16 20:19] phoe opened #154 "Building on debian sid: Lua library not found"
[code]

CMake errors with:

[code]

`liblua5.2-dev` is installed on my machine though.

[2018-11-16 20:19] phoe commented on #154
Fixed, `liblua5.3-dev` was needed instead.

Please update the README.

[2019-01-22 14:27] istepaniuk opened #155 "Binaries for 1.92 (linux) fail with "unable to load driver: i965_dri.so" on Debian buster with Intel graphics"
OpenHexagon fails to run with the following output:
[code]
## Workaround:
Other than recompiling, doing:
`export LD_PRELOAD='/usr/$LIB/libstdc++.so.6'`
before running OpenHexagon seems to solve this issue.

[2019-03-18 23:10] #144 closed

[2019-09-18 15:40] Mte90 opened #156 "Reotrarch support"
Will be very cool if it is possible to add the libretro support so it is possible to use it in their ecosystem https://www.retroarch.com/

[2019-09-18 19:20] SuperV1234 commented on #156
I'm not actively working on this project, but I would be happy to review or help with any PR.

[2019-09-26 21:14] NotAJumbleOfNumbers opened #157 "Make it harder to exit game"
I accidentally keep exiting the game every time I hit "esc" to exit the level, so I'd like to have an option to change how long you need to hold down the button to exit the game.

[2019-12-09 16:44] mehlon opened #158 "Flatpak/AppImage/Snap"
It would be nice if this was available as an [AppImage](https://appimage.org/), [Flatpak](https://www.flatpak.org/), or [Snap](https://snapcraft.io/).
With AppImage it would be a self-contained executable that can be run easily.
Flatpak would require a more effort but has better security and is more standard(?).
Snap is Ubuntu's format for app containers.
AppImage seems like the most likely candid

[2019-12-09 18:44] SuperV1234 commented on #158
Not actively developing this game anymore, but I will review and accept PRs.

[2019-12-10 14:27] mehlon commented on #158
Here's a first draft:
https://github.com/mehlon/SSVOpenHexagon/releases/tag/2.0

[2019-12-10 15:35] mehlon commented on #158
Building on Manjaro Linux:
`pacman -S sfml lua51 zlib wget`;
Also get a copy of `https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage` (save it as `linuxdeploy` in your $PATH somewhere)
[code]

[2020-02-20 15:40] SuperV1234 commented on #158
That looks fine, could you send a PR?

[2020-06-20 14:13] Morxemplum commented on #153
Build instructions have been completely rewritten on July 16th. Closing this.

[2020-06-20 14:13] #153 closed

[2020-06-20 15:29] Morxemplum commented on #101
I mean on July 16th this has been done, otherwise I wouldn't be here now. Closing this

[2020-06-20 15:29] #101 closed

[2020-06-20 15:32] Morxemplum commented on #157
You can change the exit button in the config.json from "kEscape" to another key if you need to. Closing this.

[2020-06-20 15:32] #157 closed

[2020-06-20 15:34] Morxemplum commented on #94
build-repository-oh is deprecated, making this issue no longer relevant. Closing.

[2020-06-20 15:34] #94 closed

[2020-06-24 20:08] Morxemplum opened #175 "Scrap l_maxInc and replace it with different level checks"
Between RC2 and RELEASE Build 6.16.2020, there has been an addition to level coding, l_maxInc, that caps the amount of times that a level can increment per attempt. The point of this function was supposed to cap the incrementation of levels to ensure that they do not reach a point that exceeds human limits.

However, there have been major oversights that have not been taken into account when imple

[2020-06-25 00:03] Zly-u opened #176 "E"
a

[2020-06-25 00:03] #176 closed

[2020-06-25 00:04] Zly-u commented on #176
whoops, was testing Project stuff.

[2020-06-25 21:14] Morxemplum commented on #176
Sick lmao

[2020-06-27 18:11] Morxemplum commented on #69
With Discord Rich Presence and upcoming Steam Integration, this suggestion is rendered useless (even said by Vee himself). Closing this.

[2020-06-27 18:11] #69 closed

[2020-06-27 18:17] Morxemplum commented on #96
With the Open Hexagon Level Pack Repository application existing to serve this purpose (https://filedn.com/le5y28USRPa0EAg8QLxKklH/Open%20Hexagon%20Levelpack%20Repository/Open%20Hexagon%20Levelpack%20Repository.exe) and the upcoming Steam release to hopefully have Workshop support, this issue has been solved. Closing.

[2020-06-27 18:17] #96 closed

[2020-06-27 18:20] Morxemplum commented on #87
The building process has been entirely redone on June 16th, 2020. If you want to expand on these build instructions for other Linux distributions (we currently have Windows and Arch Linux at the moment. We'd appreciate Debian and MacOS), any contribution is welcome (or open up a separate issue for issues building). Closing this.

[2020-06-27 18:20] #87 closed

[2020-06-27 18:21] Morxemplum commented on #154
Closing this because the issue has been previously resolved.

[2020-06-27 18:21] #154 closed

[2020-06-27 18:24] Morxemplum commented on #111
This bug is not relevant to the Open Hexagon source code or any of the programmer levels. Please keep issues to issues that have to do with the Open Hexagon source code or the default level packs. Closing this.

[2020-06-27 18:24] #111 closed

[2020-06-27 18:26] Morxemplum commented on #112
You can simply work around this by casting the value mFrameTime to a different variable that can be used outside of the onUpdate function. Closing this.

[2020-06-27 18:26] #112 closed

[2020-06-27 18:31] Morxemplum commented on #110
This is not feasible to implement. In addition, you don't have to use game code to host Open Hexagon tournaments. You can refer to the "Open Icosagon" tournament that was held back in 2016 as a good example of how to host an Open Hexagon tournament. Closing.

[2020-06-27 18:31] #110 closed

[2020-06-27 18:33] Morxemplum commented on #91
Exschwasion beat you to that, with his weird mashup levels in his packs. This is completely doable in Lua and doesn't need to be a built-in feature. Closing.

[2020-06-27 18:33] #91 closed

[2020-06-27 20:02] SuperV1234 commented on #91
Are the mashup levels hardcoded? I was thinking of something that allows you to create a "playlist" of existing levels, so that you do not have to hardcode them in a single lua file.

[2020-06-27 21:03] Morxemplum commented on #91
I don't know what you mean by "hardcoded" because they don't tamper with the source code. What I mean is they code a separate level where they take the rest of the levels from the pack and mash them up all into one, and it follow the description that you've given here. Exschwasion was the first to start this trend (or if not, he popularized it), which was followed by many pack developers down the

[2020-06-27 23:38] #175 closed

[2020-06-28 00:29] Morxemplum opened #179 "Enlargen In Game Timer to Adjust to New Font"
Due to the death of the use of the iconic Imagine Font (Rest In Peace) for licensing issues, we now have to use the new font named Forced Square, which is similar to Imagine but doesn't have the same licensing issues.

There's only one big issue I have with this font, and it's how this font handles digits. The digits are a lot more "narrow" in width compared to Imagine, and it looks aesthetically

[2020-06-28 18:52] Morxemplum opened #181 "Create a proper debugger for JSON Errors"
As of now, there is a debugger for Lua. Whenever a pack developer makes a mistake in Lua code and they try and run their code, usually the Lua debugger can catch most of these errors and report back to the Pack Developer what they did wrong. This means the Pack Developer can go and fix that bug.

However, there is no official debugger for JSON (or it's poorly made). When a JSON error happens, the

[2020-06-28 20:25] Morxemplum opened #182 "Resolve Conflicting IDs in JSON files"
This one should be straightforward if you've played the game for long enough.

This issue is dedicated to what happens when two levels from two different level packs use IDs with the same names. This causes conflicts between one or both of the packs and creates a series of bugs. We just need to stop this overlapping from happening and make sure that it's selecting the correct assets that come from

[2020-06-29 21:38] Morxemplum opened #184 "Fix wget-assets to get Forced Square instead of Imagine"
Just a minor bug I came across when trying to get assets for the RELEASE Build.

[2020-06-29 21:48] SuperV1234 commented on #184
Should be fixed, thanks.

[2020-06-29 21:48] #184 closed

[2020-07-01 12:25] Promethium45 commented on #182
I believe levels should all have different IDs between packs anyway, and I think a naming structure could be used. Maybe something like:
_**com.Author.LevelPack.LevelName**_

[2020-07-02 00:46] Morxemplum commented on #182
Yes. I do agree that we should have naming conventions when it comes to assigning IDs to our assets, but the problem is that not everyone is going to follow these conventions (or know about it in the first place), so we'll probably have to hard-code this convention ourselves. This way we don't have to worry about following a specific convention when utilizing our IDs

[2020-07-02 00:50] SuperV1234 commented on #182
@Morxemplum: I think we should require `"name"` and `"author"` fields in the pack JSON, and automatically generate the ID from those two. The author field could be automatically generated via SteamID, as well.

[2020-07-02 01:44] AlphaPromethium commented on #182
@SuperV1234 with that approach, what happens for authors who don't install the game on Steam? Or will this game only be accessible on Steam soon?

[2020-07-02 02:11] AlphaPromethium opened #186 "[Could Have] - Clean up root folder clutter in _RELEASE"
As someone who is thinking on making a level pack, I feel like there are too much game files alongside the custom config overrides batch files in the root folder. Potential new level pack developers may get lost and confused on where to start and new players may not realise they can run these config overrides for better performance.

I believe all game files should be stored in their own folder. A

[2020-07-02 07:32] Morxemplum commented on #182
@SuperV1234 This sounds splendid. If you could automatically add the pack and the author to an inputted id in the JSON that can definitely minimize conflicting IDs.

@AlphaPromethium most likely they'll have to fill in the "author" part manually for the concatenation to work. Having it on Steam will just simplify the process.

[2020-07-02 20:30] Morxemplum commented on #86
Looks like there will be a custom icon in the Steam release (but it won't be applied automatically on building). Closing.

[2020-07-02 20:30] #86 closed

[2020-07-02 21:24] Morxemplum opened #188 "Be More Strict On Lua Errors"
I'm so annoyed when pack developers gloss over level errors because "it doesn't matter, the level just works." or there's always the trailing errors that print every frame so it either covers up other errors or is just annoying to read in general.

What I plan on doing with this is making Lua Diagnostics more strict by forcing the player back into the menu whenever an error occurs, and an "error"

[2020-07-07 13:24] #179 closed

[2020-07-09 04:23] Morxemplum opened #191 "[Bug] Rotation Speed doesn't increment when equal to 0"
When rotation speed is 0, no matter what the increment value is, the rotation speed doesn't increment on level up.

I know what is causing this bug (this has to do with the sign function), but I'm raising it as an issue so that way I can remind myself to fix it.

[2020-07-09 04:26] Morxemplum opened #192 "Make onIncrement execute after speed and rotation are incremented"
Just a small request to make onIncrement run after speed and rotation are increment.

Again, not hard to do, but I'm raising this as an issue so I can remember.

[2020-07-10 16:21] Morxemplum commented on #182
Moved this to In progress seeing how pack info JSONs are now updates to require you to put an author, a version number, and a "disambiguator", which I guess is made to try and stop conflicting IDs from happening. Not the best solution, but I think it works.

[2020-07-10 20:05] #192 closed

[2020-07-11 00:50] #191 closed

[2020-07-11 00:52] #188 closed

[2020-07-11 07:15] Morxemplum opened #199 "Rotation sometimes halts completely when level increments"
This is a bug that is hard to reproduce, but it's bug that I'm coming across when playing a customly modified cube pack, where I keep track of stats to know the limits.

Here's the best idea of how to reproduce it:
- Enable Dynamic FPS
- Try calling l_getRotationSpeed() on the function onIncrement() and write it to a variable.
- Track that variable.

Depending on the level it is done on (Such as A

[2020-07-11 10:43] Morxemplum opened #200 "Add a 3D requirement for 3D-reliant levels"
I'm surprised I haven't made an issue about this earlier, but there are plenty of custom levels in 1.92 packs that like to use the tag [3D Required]. What this tag means is that the main gameplay of the level is heavily reliant on the 3D aspects of the game engine to work as intended. However, while Official Mode is very strict on what scores are legitimate and which ones aren't, one of the things

[2020-07-13 02:44] AlphaPromethium commented on #182
So what error handling will be put into place if a conflicting ID occurs? And what happens to the original level with the "correct" ID?

[2020-07-13 06:39] AlphaPromethium opened #202 "[Must Have] - Setup Unit Tests"
Should be simple to understand—when someone implements a feature, fixes a bug, etc., every issue should be tested with a unit test so that it's proven to work and it doesn't accidentally break something else. No one should expect everything to work 100% of the time.

Running unit tests should be done in its own directory, _"tests"_. For the game's UI, unit tests should not be testing elements on t

[2020-07-13 08:17] AlphaPromethium commented on #202
Feel free to leave any unit testing framework suggestions here! I had a quick look and Google Test (GTest) may be suitable.

[2020-07-13 15:50] Morxemplum commented on #202
I agree that regression testing is an absolute must for any decent program, and I don't think Open Hexagon is any exception. A test suite for Open Hexagon as a whole would be very nice to have to not only help patch bags, but heavily lower the odds of any new bugs appearing.

[2020-07-14 03:00] AlphaPromethium opened #203 "[Should Have] - Create single build script"
Currently, building this project is done through steps 5-7 on Windows, and steps 2-4 on Arch Linux, which involves cmake, make and copying files from different directories to `_RELEASE`. I believe it would be much better if there was a build script that executes these 3 steps automatically for us. This would be fantastic to have for everyone—new and existing collaborators!

_I did notice that ther

[2020-07-14 11:59] SuperV1234 commented on #202
I've always wanted to try [`doctest`](https://github.com/onqtam/doctest). It seems modern and super lightweight. This is a good opportunity.

[2020-07-14 19:08] Morxemplum opened #204 "Add an option to disable leaderboards for a level"
There are some levels that are designed to competitive, but there are other levels that aren't meant to have a competitive aspect at all, so I think that it would be fair to disable leader boards for levels that aren't meant to have a competitive aspect (such as tutorial levels like Baby Steps or a new upcoming breed of levels what I dub "automation" levels, where the level plays itself).

[2020-07-15 18:01] Morxemplum opened #208 "[Patch] Add hash checking on Steam Achievements"
Considering that it wasn't long on the Steam Release before somebody made something in the workshop that immediately gives you all the achievements, the ideal solution would be to have the achievements be assigned a hash that is meant to represent the default levels. Then when it is called it would grab the level hash and compare hashes.

Only when the hashes are equal will it grant the achievemen

[2020-07-15 21:16] #200 closed

[2020-07-15 21:41] Morxemplum opened #210 "Rotation is not capping on rotationMax if level has fast spin"
Bug is pretty self explanatory. It has to do with a condition in an if statement so it's easy to fix. Will fix this soon.

[2020-07-16 05:33] AlphaPromethium opened #211 "[Should Have] - Hide mouse cursor in game"
Currently, the mouse cursor is visible while playing the game and it's bothersome for players. We should make it invisible as it was like for 1.92.

A/C:
1. The mouse cursor is no longer visible.
2. The hidden mouse cursor stays in the centre so players don't accidentally drag it out of the game's window.

**_Priority: Should Have._**

[2020-07-16 05:36] AlphaPromethium commented on #208
This should be a high priority.

[2020-07-16 11:02] Morxemplum opened #212 "Remove Dynamic FPS from the game"
This is probably the reason that issue #199 exists. I'm sure Vee has pointed this out by now but Dynamic FPS is very old and this is legacy 1.92 logic that I don't think will survive. It pretty much the cause of bug #199 and if we can get rid of Dynamic FPS entirely, we may be able to mark 199 as resolved.

Any claims that it makes the game smoother can easily be discredited by simply just setting

[2020-07-16 12:03] SuperV1234 commented on #212
Another reason to do this is for the replay and leaderboard system. Static FPS guarantees determinism of game logic across different FPS values, while dynamic FPS doesn't.

[2020-07-16 17:11] Morxemplum opened #215 "Fix bugged "cube master" achievement"
For some reason, "Cube Master" isn't tracking progress of the achievement and it doesn't get granted when a user completes all of the levels. This issue is raised to hopefully fix the bug and grant the achievement.

[2020-07-16 17:19] Morxemplum commented on #215
It's useful to convert some of the notes into Issues because you can do more with issues than you can with notes.

[2020-07-16 21:14] #210 closed

[2020-07-17 08:15] AlphaPromethium opened #220 "[Should Have] - Setup to run on Debian systems"
As the title says.

A/C:
1. The project is able to compile on any debian system.
2. The README is updated.

**_Priority: Should Have._**

[2020-07-17 08:33] Morxemplum commented on #220
This also covers issues #141 and #124. :)

[2020-07-17 11:49] AlphaPromethium commented on #220
I will be creating a PR for this card alongside the other issue I am working on, #203.

[2020-07-17 11:55] AlphaPromethium opened #221 "[Must Have] - Show difficulty multiplier on Steam and Discord"
Currently, when someone is playing a level, it is displayed as so on Steam and Discord:
![image](https://user-images.githubusercontent.com/25865659/87783405-f3c1b880-c866-11ea-94b7-7efe7ee7fc0a.png)

That's cool that they are playing Apeirogon, but how do we know which difficulty multiplier they are playing on? We should show this so friends can make fun of them for playing x0.5, and showing off t

[2020-07-17 12:53] Morxemplum opened #223 "Rotation doesn't invert at increments when at cap"
Self explanatory. Can easily be fixed.

[2020-07-17 16:13] SuperV1234 commented on #215
Fixed in eb944687751cd6fd853bab57c4d48cb0b293e694.

[2020-07-17 16:13] #215 closed

[2020-07-18 07:34] AlphaPromethium commented on #223
Could ya be more descriptive on this card? I don't entirely understand what this means.

[2020-07-18 10:40] Morxemplum commented on #223
@AlphaPromethium When a level increments, it inverts the direction of the rotation speed after increasing it by the increment value. However, when the rotation speed cap is reached, it doesn't perform this behavior at all and it will stay rotating in one specific direction.

[2020-07-18 10:54] Morxemplum commented on #182
@AlphaPromethium This should be minimized with the "disambiguator" property. I think this was Vee's solution to this issue. I might as well close this issue because it's "solved" per se.

[2020-07-18 10:54] #182 closed

[2020-07-18 12:13] AlphaPromethium commented on #223
Ah, ok I see.

[2020-07-18 14:42] Morxemplum opened #225 "Improve the Lua documentation"
While there is some basic documentation, the way that the documentation was written for most of the level functions and style functions were very automated with a baseless description. It is not helpful to new pack developers who may not have a clue what each of the attributes do.

Also I think there can be a tad bit more organization with the functions. I mean that's why the prefixes were added,

[2020-07-18 14:45] Morxemplum commented on #223
I already know what's wrong with the code, but I'm working on issue #225 right now and I'll get to it as soon as I'm done with that.

[2020-07-18 17:08] #211 closed

[2020-07-18 17:14] #203 closed

[2020-07-18 17:14] #220 closed

[2020-07-18 20:33] AlphaPromethium opened #227 "[Must Have] - Current time on Steam taking too long to update"
When playing a level, the current time status on Steam takes way too long to update. I believe this is because requests are being made to the Steam API every frame, and needs to be completely reduced to every 1 or 2 seconds.

Steps to reproduce:
1. Start up the game.
2. Play any level.
3. Compare your current time in the game versus on Steam.

A/C:
1. Requests to the Steam API to update the curren

[2020-07-18 22:09] IvoryDuke opened #228 "Menu items overlapping in the "resolution" menu"
Not sure if this issue has already been fixed (if that is the case I apologize for this redundant issue post) but in the 2.0RC2(win) build I downloaded from the website the "go windowed" option overlaps the title of the menu "resolution"
![Capture](https://user-images.githubusercontent.com/55557854/87862740-a2dbbe00-c953-11ea-819c-13f9f25a73e3.PNG)
I have been experiencing issues building on Windo

[2020-07-19 04:14] Morxemplum commented on #228
I see what you are saying. Thank you for pointing out the issue
![image](https://user-images.githubusercontent.com/44561540/87866861-7ddb5100-c93b-11ea-8dfb-d36804506d1e.png)

As of right now, we are thinking about redesigning the menu completely, so there is a good chance that this is not a high priority issue to solve because this menu won't stay forever.

[2020-07-19 13:18] IvoryDuke commented on #228
I see.
It is really not a big issue really considering that the functionality of the "go windowed" option is not broken, but it did stand out since all other submenus do not suffer from a similar issue.
Looking forward to the redesigned menus!

[2020-07-19 18:38] scemino commented on #150
I'm also interested in OSX build.
Here is the full build file on my mac:
[build.txt.zip](https://github.com/SuperV1234/SSVOpenHexagon/files/4944363/build.txt.zip)

[2020-07-19 19:43] #221 closed

[2020-07-19 21:03] Morxemplum commented on #199
Update: On the latest beta branch for Steam, this happens on Euclidean Plane Crash regardless whether Static FPS or Dynamic FPS are enabled. That means this isn't a Dynamic FPS issue and it has to be coming from something else.

[2020-07-20 00:06] #199 closed

[2020-07-20 05:54] AlphaPromethium opened #232 "[Must Have] - Fix compilation errors in master"
Top priority card.

![image](https://user-images.githubusercontent.com/25865659/87904048-0d921400-ca90-11ea-86e9-38fc6bd0ef0b.png)
_As well as some other errors on Info Teddy/Misa's end._

According to him, _"`git bisect` says that 94a6854a12201257a279925f271102c9d6315eff was the commit that introduced the compiler error"_.

[2020-07-20 05:56] AlphaPromethium commented on #232
@SuperV1234 feel free to assign the card to yourself if ya can fix this rn, as ya have write access to master.

[2020-07-20 15:06] #232 closed

[2020-07-20 15:06] SuperV1234 commented on #232
Master is fine. You just need to run `cmake` again.

[2020-07-21 11:07] #227 closed

[2020-07-21 13:07] Morxemplum commented on #150
We do have a few Mac users in the Open Hexagon community so if you manage to get a native build working for MacOS, that'd be wonderful! :)

[2020-07-21 13:10] Morxemplum commented on #124
The new build has been tested on Ubuntu 20.04 LTS and compiles successfully, closing.

[2020-07-21 13:10] #124 closed

[2020-07-21 13:11] Morxemplum commented on #141
There are now instructions to build and compile on Debian systems. This so far has been tested on Ubuntu and Linux Mint. If there are any Debian distros that are struggling to build the game, please raise a separate issue. Closing this issue.

[2020-07-21 13:11] #141 closed

[2020-07-21 13:13] Morxemplum commented on #117
Building process has been completely redone since this issue, making this issue no longer relevant. Closing.

[2020-07-21 13:13] #117 closed

[2020-07-21 15:15] Morxemplum commented on #204
I'm currently post poning this issue as leaderboards are currently not available at the moment, so this would not be testable.

[2020-07-21 16:10] Morxemplum opened #235 "Improve collision logic on Curving Walls"
I think one of the biggest complaints I've seen Open Hexagon players make about curving walls at the moment is the fact that you will die if you try and touch the side of them if they spin into the player. I think the best thing we need to do to help make the Hypercube pack a bit more tolerable to the community is if we improved the collision logic so that way touching the sides of curving walls w

[2020-07-21 16:40] AlphaPromethium commented on #150
I think we should at least try to get this working before full release in August. Would be epic!

[2020-07-21 16:42] Morxemplum commented on #150
Only real issue is that none of us own a Mac so it's really hard for us to even try to build the game for Mac, considering how picky Apple is when it comes to who has their OS

[2020-07-21 16:45] AlphaPromethium commented on #204
I think only level packs that are published on Steam should have leaderboards and everything else should not, _excluding 'cube' and 'hypercube' obviously_.

[2020-07-21 16:50] Morxemplum commented on #204
Fair enough. This would be difficult to do and also Steam packs can update their levels, which means that entire leaderboards can get wiped easily, which is the problem I believe.

Plus it's a useful function so levels like "Baby Steps" and "Evotutorial" can not have leaderboards, considering they are tutorial levels. Also levels like the "Album" level from trollbreeder's pack can not have a score

[2020-07-21 16:52] AlphaPromethium commented on #235
As someone who was once an elite player, I'd say touching the side of moving walls adds to the challenge. I see it as being hit by a wall as normal, but from its side. I feel this is more appropriate as a level property/toggle, something like `l_setCanTouchCurveWallSide(bool)`.

That's just me, tho.

[2020-07-21 17:00] Zly-u commented on #235
Actually, I will consider on implementing that. Thank.

[2020-07-21 17:00] Zly-u commented on #235
Or maybe we could make this type of walls as a different type that does a kill on touch in any way.

[2020-07-21 17:01] AlphaPromethium commented on #204
Fair point with those tutorial levels. I suppose in that case it does make sense, but what if I was to go into the code and set the toggle to `true`? Would that mean I will have my own leaderboard for it now? There may need to be some sort of validator, which could just be the hashed checking.

I think that would depend on how the leaderboard is implemented. If a level was to be updated in some wa

[2020-07-21 17:04] AlphaPromethium commented on #150
We could try renting a MacInCloud for a month?

[2020-07-21 17:09] #225 closed

[2020-07-21 17:09] #223 closed

[2020-07-21 17:15] Morxemplum commented on #235
I don't like the idea of making it a togglable function, because that can add a lot of confusion to players. They won't explicitly know if they can touch the side of curving walls or not, so they're going to make the assumption that they can not. I think it should be a default mechanic, not something that can be toggled. Just saying.

[2020-07-21 17:16] Zly-u commented on #235
Nah you are just a casual.

[2020-07-21 17:19] AlphaPromethium commented on #235
Then I don't believe players should touch the side of curving walls at all. It doesn't make sense to imo.

[2020-07-21 17:19] Morxemplum commented on #204
By modifying the code to make it true, you'll already make a new validator for it, so it won't be the same validator that it was before. And again, what's the point of enabling leaderboards for a tutorial level? Literally everybody is going to have the same score regardless, making a leaderboard pointless. There's no real motive for enabling a leaderboard for a tutorial level.

And figuring out ho

[2020-07-21 17:20] Morxemplum commented on #150
Never heard of it. But I was thinking of getting a family Macbook for my family so at least there's a family computer that my parents can use for their stuff. This is an interesting topic though.

[2020-07-21 17:22] Morxemplum commented on #235
I remember this being a common complaint amongst competitive players, and I think it's one of the bigger reasons why they hate curving walls in general. Improving the collision by default can at least make curving walls a bit more tolerable to players.

[2020-07-21 17:31] AlphaPromethium commented on #204
Nono, I now agree we should disable leaderboards with an option/toggle for, for example, tutorial levels. You made a good point. I just meant if I _could_ do that, then what _would_ happen?

I'm saying this because I remember back in 2013 leaderboards, if I and 19 other people did the exact same change in some code, there would be a completely new leaderboard with us and only us 20 people in. This

[2020-07-21 17:33] Morxemplum commented on #204
Well considering that if the leaderboards can only be done with packs that are available on Steam, we can check the contents of what the pack has on steam and get their validators (which we can dub the "certified" validator) and compare it to our validator. If it doesn't match the certified validator then don't even send the score online because it doesn't match the certified validator. It's a nic

[2020-07-21 17:34] AlphaPromethium commented on #235
Then I say to them, `git good`.

... `git: 'good' is not a git command. See 'git --help'.`

[2020-07-21 17:44] Zly-u commented on #235
y'all make no sense, I be fixing this thing anyway doe.

[2020-07-21 17:51] AlphaPromethium opened #236 "[Must Have] - Levels still accessible with "selectable: false""
![image](https://user-images.githubusercontent.com/25865659/88088977-dfaaed80-cbbd-11ea-91d4-508fcd84f44f.png)

_thonk_

Steps to reproduce:
1. Go to any level property's JSON and change `"selectable"` to `false`.
2. Launch the game.

**Expected:** The level can no longer be selected.
**Actual:** The level is still selectable.

A/C:
1. Fix this bug.

[2020-07-21 17:52] scemino commented on #150
I can help you, if you want.

[2020-07-21 17:53] Morxemplum commented on #150
All contributions are welcome! :)

[2020-07-21 17:57] AlphaPromethium commented on #204
Not a bad idea. It's something we can start with.

[2020-07-21 18:03] Morxemplum opened #237 "[Must Have] - Remove (or heavily restrict) the "io" and "os" libraries in Lua"
For anybody who has a deep knowledge of Lua, you know that this is an issue that must be taken seriously.

The "io" and "os" libraries are very powerful libraries in Lua. Some of the functions are harmless, but there are others that are capable of doing serious damage. One of the best examples being "os.execute", which can allow Lua scripts to run commands to the terminal of a given operating syst

[2020-07-21 18:07] AlphaPromethium commented on #237
Mate that priority tag idea was mine grrrrrrrrrr I am claiming copyright grrrrrrrrrrrr.

[2020-07-21 18:08] Morxemplum commented on #237
Hire yourself a lawyer let's see how far this can go :joy:

[2020-07-21 18:09] AlphaPromethium commented on #237
I already won.

[2020-07-21 18:12] Morxemplum commented on #237
Sure mate sure.

[2020-07-21 18:13] Zly-u commented on #237
shut the fuk ya babies

[2020-07-21 20:26] scemino commented on #150
I have still an error:
`LuaWrapper.hpp:1318:19: error: expected body of lambda expression
        return [&]<int... Is>(std::integer_sequence<int, Is...>)`
it should be valid with C++ 20 enabled in CMakeLists.txt -> set(CMAKE_CXX_STANDARD "20")
If someone knows what to do...

[2020-07-22 17:04] scemino commented on #150
So I updated clang to version 11.0.3, now it's different:
[code]
I don't know if C++20 is stable in clang ;)

[2020-07-22 17:12] SuperV1234 commented on #150
@scemino: is there any way you could use GCC 9.2.x or higher on Mac OS?

[2020-07-22 17:13] AlphaPromethium commented on #202
Dragging this back into todo for the time being as I am not able to get enough time to work on it. If anyone else would like to pick this up and implementing doctest that is fine by me! Just be sure to pull my branch to get my current progress! :>

[2020-07-22 18:50] scemino commented on #150
Good question... but with gcc version 10.1.0 I have some issues to build SFML
g++-10: error: unrecognized command-line option '-stdlib=libc++'

[2020-07-23 02:18] AlphaPromethium commented on #150
If this issue is being worked on, can we get a card assignment and drag to the board?

[2020-07-23 18:27] scemino commented on #150
I filled a bug about the clang crash to Apple.
I try to go deeper with gcc 10.

[2020-07-23 18:54] Morxemplum commented on #208
Pinned this because someone cheated achievements and tried to pass them off as legit. This is definitely a high priority and must be addressed ASAP

[2020-07-23 20:21] Morxemplum opened #241 "Allow color pulses to properly support negative values in Styles"
This was hiding in the back of my head and it didn't come to light until recently. I've noticed with the pulse field that it doesn't properly support negative values. Why is this a problem? This limits the possibilities of styles that can be made.

A good example to demonstrate: Start off with a color of (0, 255, 0, 255), which is a fully bright green. Now pulse that by (255, -255, 255, 0) to get

[2020-07-24 04:08] AlphaPromethium commented on #241
I agree, or we could make it be `from` colour `to` another colour.

For example,
[code]

And to not pulsate colours, either remove `pulse` from the style JSON or set it to the same as `value`.

[2020-07-24 04:12] Morxemplum commented on #241
That's not necessarily a "pulse" then. That's a "start" and "end" color.

I would love to do more sophisticated pulses where we can have multiple points for color, but that's not what I'm trying to accomplish with this issue at the moment. That'd be an entirely new issue on its own and a completely new feature

[2020-07-24 07:53] scemino commented on #150
Bad news, for macOS, SFML is built with clang only, there is no GCC version. And as I understand SFML use objective C which is not well supported by GCC, that's why there's no GCC version for SFML.

Here are my propositions:
1. Find a way to compile SFML with gcc
2. Or use another library than sfml
3. Or replace C++20 code that don't compile with clang by C++17 code
4. Or wait for Apple to fix cla

[2020-07-24 09:04] InfoTeddy commented on #150
I haven't heard anything definitive yet, but there has been talk of moving the game to OpenGL or even Vulkan, which the game should do anyway.

This seems to me like the solution that could be achieved the fastest, the next fastest being the one above (moving off of SFML). As a bonus, maybe I could easily add Windows builds to the CI after this change, since it's hard to get MinGW 9 or later worki

[2020-07-24 22:59] #241 closed

[2020-07-25 00:12] #235 closed

[2020-07-25 00:19] SuperV1234 commented on #202
Unit tests are now available. Just stick `.cpp` files in the `test/` folder and they will be picked up and executed when running `make check`. Keeping issue open so that we can run unit tests as part of CI @InfoTeddy

[2020-07-25 01:05] Zly-u commented on #208
that should be for levels in general, like, for leaderboards though.
Hash = the ID of the leaderboard to show off or whatever.

[2020-07-25 01:17] Morxemplum commented on #208
@Zly-u Certified Hashes are gonna be raised as a separate issue, when we get closer to the full leaderboards

[2020-07-25 01:24] InfoTeddy commented on #202
I'll look at the tests in a bit. If they work fine then I'll make a PR.

[2020-07-25 10:55] #202 closed

[2020-07-26 03:32] Morxemplum opened #244 "Game crashes when a Lua error happens on "onUnload""
When a Lua error happens with onUnload, an infinite feedback loop happens and as a result crashes the game. I've figured out the problem and can fix this easily.

[2020-07-26 03:44] Morxemplum opened #245 "Shorten complicated path for u_playSound"
When making longer sound buffer names to try and combat ambiguous naming and minimalize conflicting IDs, solving this problem created a new one. u_playSound requires you to input the full sound buffer name in order to find the sound and play it. But when applying this with the new disambiguator, author name, and version in it, this can start spiraling out of control really fast. I'm raising this i

[2020-07-26 03:45] Morxemplum commented on #245
In addition, solving this problem can also make sure that packs cannot leech into other packs and steal their sounds.

[2020-07-26 23:33] #237 closed

[2020-07-26 23:33] #244 closed

[2020-07-27 23:12] Kodipher opened #247 "Unique pack IDs not used in the save/profile for keeping best scores"
Just the level id and DMs are used. This means if any 2 or more packs have a level with the same id there will only be one best time for 2 levels, yet the example pack sates that the level id should be unique per pack and not totally unique.

The level in the copied pack was not played, but does have a best score cause the level in the original pack was played.
![image](https://user-images.githubu

[2020-07-27 23:16] Morxemplum commented on #247
This is definitely an issue with local profiles and their packs. With online leaderboards this is definitely not an issue, because as soon as you start changing the file contents of the level it'll immediately create a new leaderboard for that level.

Thanks for the report.

[2020-07-29 06:03] Morxemplum opened #251 "Implement a "Replay Safe" method of taking input on basic actions through Lua; deprecate old methods"
**_Watch out. This one is pretty long_**

As for right now, the best methods of taking input through Lua are currently u_isKeyPressed and u_isButtonPressed, which is pretty great. However, the main problem has shown up since the introduction of replays. Replays do a fantastic job of trying to recreate the input of the player, just to show how they manage to play through a level and how they get th

[2020-07-29 10:24] #245 closed

[2020-07-29 17:31] treier57lol opened #253 "Github Wiki"
So, I wanted to help make a wiki page for the repo, and as it turns out, I already have permissions to edit and add pages on the wiki. I read on the GitHub Docs that by default, only contributors can edit the wiki. That still doesn't seem very safe, as you can't trust every contributor and the wiki doesn't have pull requests so a maintainer can't even check and accept changes, they happen instantl

[2020-07-29 17:34] Morxemplum commented on #253
I didn't even know this was a thing until now, but this is definitely a concern. @SuperV1234 You may wanna address this.

[2020-07-29 17:37] treier57lol commented on #253
I will also add that there doesn't seem to be a way to block any contributor from making changes to the wiki without disabling the wiki altogether or blocking the individual (don't worry, I won't make any more changes unless you want me to). If I were to be blocked, it would still allow any other contributor to make changes.

[2020-07-29 17:45] InfoTeddy commented on #253
Huh? It looks like there's a checkmark box in settings that says "Restrict editing to users in teams with push access only", and its subheading says "Public wikis will still be readable by everyone.", and it's also right under the "Wikis" checkmark box. Looks like this was originally named "Restrict editing to collaborators only" and [the GitHub docs haven't updated to the new name](https://docs.g

[2020-07-29 17:47] Morxemplum commented on #253
If it restricts editing to **collaborators** then that's another story. However, I don't think it should be something that can be modified by **contributors**, because this can very easily lead to vandalization (which has happened many times on a Wikia page of Open Hexagon).

[2020-07-29 17:53] treier57lol commented on #253
Yea, it does say **collaborators**, but I'm just a **contributor** and still have access. Could this be a typo? A bug in GitHub?

[2020-07-29 17:55] InfoTeddy commented on #253
Well, like you said, by default it allows contributors. You have to explicitly opt-in to allowing only collaborators to edit the wiki. There's no bug anywhere except the fact that the default is to allow contributors.

[2020-07-29 17:58] treier57lol commented on #253
But there is no option for contributors? The option for collaborators is enabled by default. If it was disabled, it would, quote: "allow anyone with a GitHub account to edit your wiki."

[2020-07-29 18:01] InfoTeddy commented on #253
Okay, you seem to be misunderstanding.

There are two modes of access the wiki is in: mode 1 allows editing by both contributors and collaborators, and mode 2 only allows collaborators to edit. This mode is toggleable by the single checkbox I mentioned above. If the checkbox is unticked, the wiki is in mode 1, and if the checkbox *is* ticked, the wiki is in mode 2.

[2020-07-29 18:10] treier57lol commented on #253
By the checkbox you mean "Restrict editing to users in teams with push access only"? If you're saying that checkbox toggles between the supposed 2 modes, then how come I still have the "Restrict editing to collaborators only" checkbox?
![Screenshot_20200729_210500](https://user-images.githubusercontent.com/33978534/88836538-81929180-d1df-11ea-98aa-e96e934d0b4b.png)
The wiki isn't out of date. Is "

[2020-07-29 18:14] InfoTeddy commented on #253
Ah, yes, my bad. I was looking at a repository owned by an organization, and only those repos have it say "users in teams with push access". If it's a repo owned by an individual account, it says "collaborators".

My mistake.

[2020-07-29 20:36] #251 closed

[2020-07-29 20:39] SuperV1234 commented on #253
As long as it's restricted to contributors, I think it's OK. If anyone acts maliciously we can revert changes and block them.

[2020-07-29 20:43] treier57lol commented on #253
Good to hear. What about the changes I made? Will you keep them?

[2020-07-29 20:49] SuperV1234 commented on #253
Your changes seem good. I don't have a plan for the Wiki, and to be fair not enough free time to manage it. Would you be interested in taking care of the Wiki?

[2020-07-29 20:50] treier57lol commented on #253
Yea, I'd be happy to help with that!

[2020-07-29 20:55] Morxemplum commented on #253
I guess this issue is resolved then

[2020-07-29 20:55] #253 closed

[2020-07-30 19:19] treier57lol opened #257 "Move the "Workshop Tutorial" to the GitHub Wiki"
[Workshop Tutorial](https://openhexagon.org/workshop)

This would help with moving documentation into one place, the wiki. If my assumption is correct, then the tutorial seems to be written in Markdown already, so moving it over shouldn't be very hard.

[2020-07-31 20:44] Morxemplum opened #259 "Dynamic colors stay pink/magenta after hue 360"
Dynamic colors work off the hue properties. However, how hue works is that it works from 0 to 360. You cannot get a hue that is higher than 360. When a dynamic color goes past the 360 hue, it stays at pink and it won't loop over.

What I plan on doing is when a dynamic color goes over 360, it will loop over through modulo into the next cycle. This shouldn't be hard to do.

[2020-07-31 20:55] Morxemplum opened #260 "Allow more elements to have a color override in a Style"
I think a nice addition that we can have to styles is the ability to override elements that usually would refer to the "main" color with new color attributes.

Here's a few things that can be overridden (this is the first issue I've raised with a checklist):
- [ ] Player Color
- [ ] Text Color
- [ ] Swap Color

[2020-08-01 08:16] Morxemplum commented on #257
Great idea. In addition, I think there should also be some pages in regards to the JSONs and all their possible attributes, considering I know that's another area that people will need help on. And if you are in the mood for it, maybe an introduction to pack developing in general.

[2020-08-01 13:32] Zly-u opened #262 "[Could Have] - More simplified and customizable walls"
Basically make walls to return their reference so people will be able to change their properties as they please.
for example:
[code]
So in this way, the wall's functions are more compact and more flexible in usage, I believe.
Just giving the main idea for it.

Ofc you can make basic functions for walls to work with and make a module that simplifies their usage or something.

[2020-08-01 13:52] Zly-u opened #263 "Metadata and Resource handling."
## Here's a new and much better in use pack's resource handling and how code loads it:
**How OH handles loading and the use of recourses in Lua:**

- Load each pack in their separate handlers named after their folder names, which are the unique IDs
- For a currently made handler for a pack Recursively go through its files and add everything to its handler's storage.

So in C++ it would look like s

[2020-08-01 19:05] Morxemplum commented on #262
At this point you are just essentially making an abridgement of the custom walls system. Not the worst idea, but how would you pull off the OOP abstraction in the C++ code?

[2020-08-01 19:50] treier57lol commented on #257
OK, so I tried to convert the Workshop Tutorial from HTML to Markdown with an online converter and it's 99% accurate, some tweaks here and there, but a little problem. GitHub Flavored Markdown doesn't support footnotes, or at least they don't work. [This](https://github.com/jbt/markdown-editor) Markdown editor is supposedly using GFM and footnotes work fine there, but when I try to make footnotes

[2020-08-01 19:51] Morxemplum commented on #257
Uhhhhh you do realize there is a native markdown document you could use, right?

[2020-08-01 19:53] treier57lol commented on #257
...wait, it was on the repo all this time? DAMN IT. Anyway that's not the point, footnotes still don't work, but thanks for pointing that out.

[2020-08-01 20:08] Morxemplum commented on #263
Ideally this is how we could've resolved issue #182, but Vee decided to go with adding a disambiguator to try and lower the odds. It can still be accomplished if someone were to intentionally try and sabotage someone's pack.

It's a good idea to have some organization, but we definitely shouldn't force how people should organize their scripts. That makes the structure not very flexible and it coul

[2020-08-01 20:11] Zly-u commented on #263
It will not be any kind of "force" or issue since you can go back from that folder by doing `../Sounds`.
`..` operator in the path means "go back in prev folder".

[2020-08-01 20:13] Zly-u commented on #262
There probably is a way to do that or just make an OOP abstaction for standard wall functions as you would do thatfor custom walls I guess.
It's still not impossible to do anyway and would be nice to have at very least and will grant more control over le walls.

[2020-08-01 20:30] Zly-u commented on #262
If you take for example Love2D engine it returns objects when you create specific elements in the code and can apply a different kinds of methods to them, so yes it is possible in C++ somehow and don't ask me how to do it since I never touched Lua C API.

[2020-08-01 21:02] Zly-u commented on #116
The issue is fixed since we got a much better build method.

[2020-08-01 21:02] #116 closed

[2020-08-01 21:04] Zly-u commented on #151
Fixed with the new way of building the repo.

[2020-08-01 21:04] #151 closed

[2020-08-01 21:06] Zly-u commented on #8
Not relevant anymore I believe. Will be extandable even further with shaders in the future i believe.

[2020-08-01 21:06] #8 closed

[2020-08-01 21:10] Zly-u commented on #259
Isn't on hue 0 and 360 the color is red, not magenta? First time hearing it's magenta on those values.

[2020-08-01 21:11] Morxemplum commented on #259
From what I've seen it get stuck on pink/magenta, which is weird. But the PR I linked above solves this issue.

[2020-08-01 21:15] Zly-u commented on #263
Oh wait nvm, I misread what you meant by the possible issues, well, I also just rechecked how exactly level.json get the main script and it's something like this: `Scripts/Levels/apeirogon.lua` which is actually great,I had to check that before writing the idea.
So yeah, people can do whatever for that at this point with this way of declaring main scripts.

[2020-08-01 21:16] Zly-u commented on #259
Alright

[2020-08-01 21:18] Zly-u commented on #260
Would add:
- [ ] Individual background panel colours by ID.
sounds like a cool feature to me idk.

[2020-08-01 21:35] Zly-u opened #265 "[Could have] - some of the io functionality in Lua"
Just want some of the functions to be back for `read-only` purposes, no saving or whatever.

[2020-08-01 21:50] Morxemplum commented on #265
Wouldn't be hard to bring back. Just gotta be careful on how to bring it back though.

[2020-08-01 21:51] Zly-u commented on #265
Easy to do so.

[2020-08-01 21:53] Morxemplum commented on #260
That is an entire issue on it's own, as it is pertaining to Lua. This issue focuses on the style JSONs themselves.

[2020-08-02 00:27] Zly-u opened #266 "Generating styles through Lua entirely"
For example setting background panel colors individually by index through lua and etc.

[2020-08-02 09:04] Morxemplum commented on #266
I don't think this is a must have. That's absurd. It's a Could Have at most.

[2020-08-02 10:14] AlphaPromethium commented on #266
Should Have*

[2020-08-02 10:19] Morxemplum commented on #266
Even then we should necessarily get rid of Style JSONs entirely. It makes it a lot easier to hot swap styles.

[2020-08-02 10:43] Zly-u commented on #266
Considering how many people wanted this functionality I made it as "must", but you do you.

[2020-08-02 11:13] Morxemplum commented on #71
Steam does the job for us. There's no need for this anymore. Closing.

[2020-08-02 11:13] #71 closed

[2020-08-04 13:59] #265 closed

[2020-08-04 14:24] #259 closed

[2020-08-05 22:55] Morxemplum opened #270 "Custom Wall Creation has Memory Leaks"
This has been issue that was picked up by a few pack developers when working on making new creations with the new custom walls system.

I've actually been able to reproduce this issue myself. I have noticed my memory usage almost doubling and tripling after several restarts on levels that make tons of custom walls. Along with this I get insane lag on level startup, with the game freezing for a goo

[2020-08-07 23:21] InfoTeddy commented on #150
Hmm, I'm confused by this statement. I got SFML built on my Linux system using GCC just fine. If SFML doesn't support GCC, how come it worked?

More specifically, I'm running Gentoo, and I did `sudo emerge -1a libsfml` to build SFML, the output of which says it is using `/usr/bin/x86_64-pc-linux-gnu-g++`. And as you can see:
[code]
This is GCC.

[2020-08-08 06:37] scemino commented on #150
Sorry for the misunderstanding, I was talking about the macOS version, there is no GCC version for macOS

[2020-08-08 08:38] PyRectangle commented on #150
There is gcc for mac. Do a quick search and you find [this](https://www.cyberciti.biz/faq/howto-apple-mac-os-x-install-gcc-compiler/). If that doesn't work, you can build gcc from source.

[2020-08-08 09:10] scemino commented on #150
Sorry again, what I said is there is no GCC version of the sfml library for macOS, there is only a clang version. If you try to compile in your own the sfml library with gcc on macOS you will get errors.

[2020-08-08 10:20] PyRectangle commented on #150
Can't you compile sfml with clang and the rest with gcc?
Also, someone had a similar problem [here](https://en.sfml-dev.org/forums/index.php?topic=1194.0), wouldn't the solution in this thread work?

[2020-08-08 12:31] scemino commented on #150
I don't have a link error but a compilation error, so the solution you gave me won't work.

[2020-08-08 12:45] PyRectangle commented on #150
I mean, that you don't build sfml yourself, but download prebuilt binaries from [here](https://www.sfml-dev.org/download.php).

[2020-08-08 12:53] scemino commented on #150
Sorry I know this page and there is no gcc version for macOS:
![image](https://user-images.githubusercontent.com/643384/89710865-d45e0d00-d986-11ea-9f27-db6cc5baae1e.png)

[2020-08-08 18:54] PyRectangle commented on #150
Sorry, if I'm just dumb, but can't you use gcc to link against the sfml.framework that was compiled with clang in the download.

[2020-08-08 20:19] scemino commented on #150
Maybe but I have a compilation error, so I don't reach the linking phase.

[2020-08-09 09:39] PyRectangle commented on #150
What error?

[2020-08-12 06:46] Morxemplum opened #274 "Introduce a method of Alternative Scoring"
By default, Open Hexagon uses a timer for how long the player survives to score an attempt. This will always be the default method of scoring in Open Hexagon. However, from seeing some of the creativity in some of the player packs, some levels don't suit very well when scored by the amount of time they've survived in an attempt.

What I plan on doing is being able to override the default scoring v

[2020-08-12 06:58] Morxemplum opened #275 "Represent Game Version in "Major.Minor.Micro" instead of a float"
I originally closed my pull request #271 because I was thinking that I should probably redefine how the version is done and displayed before I start working on this again.

I think this is one of the more crucial things we need to do for the game overall. The current way of how versions are done is through a literal float value, which may be simple, but it can lead to many issues down the line whe

[2020-08-14 08:24] Morxemplum opened #277 "[Could Have] Add custom swap sounds level-by-level"
In 1.92, custom swap systems had a creative outlet by allowing pack developers to make their own sound with the swap. This technically is possible with 2.x's onInput function, but that means you wouldn't be able to have the "Swap Enabled" on the top left and there would be no color to enable for swapping (unless you do it manually with style switching). Perhaps there could be a lua function that c

[2020-08-14 14:22] Morxemplum commented on #236
I know what the issue is. Fixing this now

[2020-08-14 17:09] treier57lol commented on #257
Alright, I found an issue about adding footnotes [here](https://github.com/github/markup/issues/498), which was closed but never reopened, where some had pointed to a SO thread with alternative methods for using footnotes. I ended up using `<a href="#note1" id="note1ref"><sup>1</sup></a>` and `<a id="note1" href="#note1ref">↩︎</a>` to make footnotes work like they do on the website. It's not real

[2020-09-09 15:30] #274 closed

[2020-09-11 10:59] #257 closed

[2020-09-11 11:36] Morxemplum commented on #266
Looking back on this now I don't necessarily think that we should initialize styles through Lua (but hey, you do you) but I do think that it will be useful to be able to manipulate more style attributes through Lua, such as the background panel, main, text, and player colors, along with 3D override color. I'll storyboard out some Lua functions that will try to accomplish this feat with the most in

[2020-09-12 00:02] Morxemplum commented on #266
Alright so the best way to go about this design-wise is to try and use [named arguments](https://www.lua.org/pil/5.3.html), which I think is the easiest way to try and do this on Lua's end. This is the best design choice because it allows pack developers to modify styles without implementing too many different Lua functions dedicated to setting color, while at the same time offering the most flexi

[2020-09-12 02:59] Morxemplum opened #290 "Replays do not maintain a "firstPlay" status"
After making pull request #289, I have easily picked up a bug with replays. If an attempt was the first playthrough of the level, that information is discarded once you start viewing the replay, as if it were another attempt. This is bad because there can be slight differences when a level is played for the first time compared to other attempts. Simply discarding that information can lead to repla

[2020-09-14 02:00] Morxemplum opened #292 "[Should Have] Upgrade the Lua binding library"
I initially made this argument on Discord but I would also like to raise it as an issue on here because I think it could be useful.

Currently we are using the [luawrapper library](https://github.com/tomaka/luawrapper) (2010 version), which is a 10 year old script that we are using to run Lua code on Open Hexagon. What's the problem with this code? Well...

- The person who wrote the module, tomak

[2020-09-14 02:03] Morxemplum commented on #186
At this point, since this is now released on Steam, most people shouldn't have to worry about this being a problem, besides pack developers and people who decide to compile the game themselves. Even if it is a little bit messy, it's still trivial to navigate through. I'm going to be closing this because it's not really become an issue anymore.

[2020-09-14 02:03] #186 closed

[2020-09-14 02:05] Morxemplum commented on #155
This is an issue pertaining to the 1.92 version of Open Hexagon, a previous version that is no longer maintained and supported. Closing.

[2020-09-14 02:05] #155 closed

[2020-09-14 02:07] Morxemplum commented on #109
This is an issue pertaining to the 1.92 version of Open Hexagon, a version of Open Hexagon we no longer maintain and support. If this is an issue that still persists in the latest version of Open Hexagon feel free to re-open the issue. In the meantime, I'm closing this issue.

[2020-09-14 02:07] #109 closed

[2020-09-14 02:08] Morxemplum commented on #47
Funny, because if I am interpreting this correctly this will be a thing in the new menu UI

[2020-09-14 02:18] Morxemplum commented on #156
Sounds like you want Open Hexagon to be able to be emulated. While this would be a good way to increase compatibility, this can be problematic for one reason: Retroarch states on their website that you can rewind the state of a game, which can open up for a grounds of cheating in the game and being able to obtain illegitimate scores on a level and mask it as a legit attempt. We surely do not want

[2020-09-14 03:05] InfoTeddy commented on #156
Open Hexagon is already able to be played with libTAS. Adding Retroarch support won't make things any worse.

The OP only requested support for libretro, not necessarily that it should be released on Retroarch. And even if they did ask that it should, it ought to be Vee's call if it's worth it to be released on Retroarch (and thus if this issue should be closed), not yours.

[2020-09-14 08:51] Mte90 commented on #156
My request was to add support to libretro so it can play inside retroarch.
Like for Cannonball https://github.com/djyt/cannonball or mrboom https://github.com/Javanaise/mrboom-libretro that are games with that support.
This make them compatible with the retroarch settings so you can launch from there and automatically get the settings for the joypad as example and other stuff.

[2020-09-14 10:47] Morxemplum commented on #156
While this definitely can help a lot when it comes to the compatibility side of things, I don't see this to be a high priority issue. You're welcome to make an implementation yourself or have someone else come along and make the changes, but I don't think this will be an issue that most of us will be focusing on at the moment, as there are other things we need to work on.

[2020-09-14 10:50] Mte90 commented on #156
Of course this is not high priority, can help with the popularity of the game indeed (retroarch community is huge), like happened to the other games.

I don't know if it is the case to mark this ticket for hacktoberfest of the next month so someone will work on that https://hacktoberfest.digitalocean.com/

I just know that with the original game on mobile I was very addicted, so I am afraid that w

[2020-09-15 00:41] #290 closed

[2020-09-19 15:25] #270 closed

[2020-10-31 14:30] #275 closed

[2020-11-05 22:31] Morxemplum commented on #277
This is definitely something that can easily be done with the new *a_* prefix that just recently got added. I can have this issue solved as part of a PR expanding that prefix.

[2020-11-07 23:55] #228 closed

[2020-11-08 11:13] Morxemplum opened #303 "Game crashes if the first level you play tries to set 3D Depth to a floating point value"
Noticed this issue when porting all the Exschwasion Levels. This happens on Intensify if you play it for the first time. However, if you play another level (or a few levels) before playing Intensify, it doesn't crash for some odd reason. I find it very interesting and see if we can either fix it by restricting it to integer values or figuring out what's causing the crash behind the scenes.

[2020-11-09 07:27] gardenappl opened #304 "Linux build should implement XDG Base Directory (don't save files in installation folder)"
I've been doing a bit of work and I managed to create an Arch User Repository package for Open Hexagon: [open-hexagon-git](https://aur.archlinux.org/packages/open-hexagon-git/). The end goal here is to allow Linux users to install the game with just one command (ex. `yay open-hexagon-git`) and it will simply get installed in the system-wide directory `/usr/lib/open-hexagon`, just like all other Li

[2020-11-27 13:58] #277 closed

[2020-11-28 00:54] Morxemplum opened #308 "Custom Walls could have a customizable render order"
I've already lined out a basic attribute for the render order in an upcoming PR but seeing how this is turning out more complicated than I am expecting, I've decided to put a pin in that feature. I think it is something that should be addressed later. I think it would be really nice to explicitly determine when the wall should be rendered rather than based on creation time.

Besides, it would also

[2020-12-27 09:46] 0x4kgi opened #312 "Death/Fail animation speed seems to be tied to the FPS"
I'm talking about the hexagon expanding outwards to your character when hit a wall, not sure what to call it.

Here's some GIFs of what I'm talking about:

<details>
<summary>On VSync (75hz)</summary>

![a1XpDQ1Jwr](https://user-images.githubusercontent.com/17591127/103167999-cdb73000-486a-11eb-9708-30dce57897d6.gif)

</details>

<details>
<summary>On 200 FPS (capped)</summary>

![gkRE2DZ8zv](http

[2020-12-27 16:59] IvoryDuke commented on #312
I confirm the issue and have found out the cause.
I should be able to address it in a relatively small amount of time.

[2020-12-27 17:42] IvoryDuke commented on #312
@0x4kgi thanks for the report.
https://github.com/SuperV1234/SSVOpenHexagon/pull/313

[2021-01-02 06:27] #312 closed

[2021-04-01 21:00] Morxemplum commented on #266
We're actually revisiting this, because now with manual style control, that makes this possible to accomplish. Which mean this will be addressed soon. I think we'll need to still work with the finer details.

In all honesty, I think we should get rid of a lot of the attributes with dynamic colors. They make JSONs unorganized and can be hard to memorize. I personally would just repurpose the "color

[2021-04-01 21:03] Morxemplum commented on #292
I mean we've incorporated LuaJIT with #329, which is a huge performance increase in Open Hexagon. However, this will downgrade us to 5.1, because surprise surprise, we were on 5.3 before this.

I don't know if that means that this issue is resolved. @SuperV1234 Would you consider this solved then? Was thinking about closing this issue.

[2021-04-01 21:09] Morxemplum commented on #262
Re-evaluating this now, I don't think this needs to be a native feature. This is 100% doable with a Lua library, perhaps a dependency can be uploaded on the workshop that can accomplish these features (considering that dependencies are now a thing in 2.0.4, someone could simplify the custom wall workflow and accomplish this).

I'm going to close this issue. Standard walls should remain standard wa

[2021-04-01 21:09] #262 closed

[2021-04-01 21:15] Morxemplum commented on #260
Updated the issue by adding one more thing: the underlying background (or void, whatever you'd like to call it). Maybe that could be customizable. It may not serve a use 90% of the time, but it would give the Alpha attribute a purpose. I just consider the alpha attribute to be a glorified darkening attribute.

Since 2.0.3, player color and text color overrides are now possible because of #261. Swa

[2021-04-01 21:19] Morxemplum commented on #212
Since 2.0.3, you can no longer switch to dynamic FPS. 2.0.3 now forces all players to play the game on a constant tick rate for logic. Closing this issue because it's done.

[2021-04-01 21:19] #212 closed

[2021-04-02 13:20] SuperV1234 commented on #292
I think we can close this issue for now.

[2021-04-02 13:20] #292 closed

[2021-04-03 07:22] Morxemplum opened #333 "Polish the Menu UI"
I really gotta give credit to Ivory Duke for being able to pull off the UI change. He did a good job at it and I probably wouldn't have been able to have done it myself. However, I want to continue working on the UI where he left off. Making the UI change was a good chunk of progress, but I think it needs some more polish.

This is the first BIG issue that I will be working on. The issues that I h

[2021-04-03 07:26] Morxemplum commented on #236
Vee doesn't like the fix, even though the fix does exactly what 1.92 did to unselectable levels. However, I'm closing this issue because I'm moving this issue over to #333, where I will have this issue be solved by having the level option grayed out and unplayable instead of not loading the level at all (considering that's what Vee wants)

[2021-04-03 07:26] #236 closed

[2021-04-03 07:34] Morxemplum commented on #333
@SuperV1234 Considering that you are working your way to adding online leaderboards, there are definitely a few things in this issue that you should take into consideration, as they will be very useful to what you're accomplishing.

[2021-04-08 23:47] Morxemplum commented on #208
Considering online functionality, perhaps we could use server communication as a way to verify whether people are receiving the badge legitimately or not. 🤔

[2021-04-09 01:04] Morxemplum opened #335 "Make a Timeline that is controlled specifically by a level's music"
I've been brainstorming on how to do this for the past few hours. And I'm raising this as an issue so that I can remind myself to do it when I got the time to do so (which won't be for a bit).

I've noticed that one Steam Review, in particular, mentions the game's lack of rhythm, and how it degrades the quality of the game. To be fair, I see where he's coming from. Super Hexagon incorporates a sen

[2021-04-16 00:01] Morxemplum commented on #333
Vee seems to be doing work at adding mouse support. I checked off "Clickable buttons" because the level selection and main menus now have clickable buttons. Settings is it's own separate thing (because it still doesn't have mouse support yet), so it doesn't count.

[2021-05-01 22:53] Morxemplum opened #338 "Open Hexagon's Lua doesn't parse interweaved events properly"
Consider the following code below
[code]

In theory, what should be happening is that all three event loops should be executing simultaneously, with the events working independently of each other. In 1.92, all of the events are ran on one timeline, but it interweaves events in the case of "event_exec" to make time loops and other event groups appear that they are running at the same time.

However

[2021-05-20 00:24] Morxemplum commented on #338
The custom timelines that are being introduced in 2.0.7 seem to solve this issue. It's definitely a very hacky and open method to solving it, but I would say it solves this issue.

[2021-05-23 17:19] Morxemplum commented on #150
Good news for y'all Mac users
https://github.com/duck-37/SSVOpenHexagon/commit/355d956fd12542cc22516c69d17d34700e35bc0d

[2021-05-23 17:22] Morxemplum commented on #150
Someone was able to get the game to build on Mac. The instructions are a little complicated, but I'm sure they'll be coming soon and we can finally close this issue

[2021-05-23 17:25] duck-37 commented on #150
Build steps:
[code]

Then run `_RELEASE/SSVOpenHexagon`.

**CMake commands:**
Debug
[code]

Release
[code]

I used LLVM 12 from homebrew, which is why the paths to the compilers are so long.

[2021-05-23 17:27] Morxemplum commented on #150
@duck-37 Great! Now along with your changes we could add some more friendlier instructions to the Wiki Build Instructions and make a Pull Request from this!

[2021-05-23 17:28] duck-37 commented on #150
Sounds good to me, though I wouldn't put the hack-y clock fix into the PR; that needs to be fixed properly some other way. Will open a PR for the cmake and library changes though.

[2021-05-23 17:29] Morxemplum commented on #150
Hmmmm. Take the time you need for a more proper fix. I'm sure the Mac users can now wait a little more.

[2021-05-23 17:33] duck-37 commented on #150
Well the main issue is that I don't want to touch the database/server/etc code because that's all very tightly knit together. I'll see what I can do though.

[2021-05-23 17:34] Morxemplum commented on #150
You may need to talk to Vee about that. Paging @SuperV1234.

[2021-05-24 17:25] #338 closed

[2021-06-03 17:13] Mte90 commented on #156
any update for this?

[2021-06-03 17:15] InfoTeddy commented on #156
Well... nothing has changed. Like Synth said above:

Meaning: If you want to implement support, submit a PR! Otherwise, I don't think any of us are going to be working on this at the moment.

[2021-06-07 13:41] Morxemplum commented on #204
Leaderboards for a level can be disabled server side. Closing

[2021-06-07 13:41] #204 closed

[2021-06-07 13:44] Morxemplum commented on #92
I'm guessing this has something to do with the leaderboards, back when they were functional. Fortunately, we don't need to use an email for validation anymore. The Steam Release uses Steam IDs as an easy way to validate accounts and stop duplication. I'm confident enough to say this issue can be closed.

[2021-06-07 13:44] #92 closed

[2021-06-15 01:37] AutoUpdatingBSoD commented on #120
Hello, you've probably forgotten about this post @oxodao since it's been more than 6 years since you wrote this.

I have a small amount of Android experience via Godot Engine and Android Studio. I don't know whether the developers would be interested in someone developing an Android port or not, though I am aware of them wanting a MacOS port.

I can work on developing these features in my spare ti

[2021-06-15 01:45] InfoTeddy commented on #120
Yes, you can go ahead and work on an Android port! A proof of concept would be super nice to have.

[2021-06-15 07:05] oxodao commented on #120
Hey !
Since that time I migrated back to an android tablet so I would definitely try it. I don't have enough time to help developing it though 😕

[2021-06-18 21:11] AutoUpdatingBSoD commented on #120
@InfoTeddy sounds good. I was held up for a while but I'll let you know ASAP when and if I make a breakthrough. I'm looking into the libraries now.

@oxodao that's perfect! I don't exactly have the most powerful Android phone in the world so help here is greatly appreciated!

[2021-06-19 01:03] oxodao commented on #120
I got a OnePlus 6 so that should be enough to try it out !

[2021-06-25 16:28] AutoUpdatingBSoD commented on #120
@InfoTeddy I'm sorry if this is an Elementary question, but I can't for the life of me figure out all of the libraries are needed from Open Hexagon just from the build instructions. It does not help that different OS's have different libraries built-in so the build instructions help very little as a result.

Is there a collective list of libraries somewhere required for Open Hexagon that I can loo

[2021-06-25 19:43] AutoUpdatingBSoD commented on #120
I should also mention I'm in compilation hell right now in Android Studio, which is ( at least partially) leading me to believe I may not have the right libraries:

If I use the latest version of CMake within Android studio, it complains about naming conventions.

If I downgrade to any version below the latest, (.8 whole revisions below the latest), the Android Studio Shell complains about wanting

[2021-06-25 19:48] Morxemplum commented on #120
Interesting. Are you trying to make a mobile version of Open Hexagon? If so, you'll have plenty of work you'll need to do in terms of the interface and get it to display reasonably on a mobile phone. Although I am very interested in what you'll accomplish in this area.

[2021-06-25 21:39] AutoUpdatingBSoD commented on #120
@Morxemplum If it helps you in understanding the position I'm in with the UI, Plenty of Android Games are locked horizontally (i.e. like a monitor). The two that come to mind are the 3DS Ace Attorney games that got Android ports. I'm not entirely sure that rotation must apply here. Various other Android games are locked vertically, such as Super Mario Run. Pokemon Go is locked vertically to only t

[2021-06-25 21:55] AutoUpdatingBSoD commented on #120
For reference, if anyone knows what I'm dealing with, [here's](https://pastebin.com/Ljw1ZxbU) the log after passing --info in Android Studio with the CMake version from the website, as that's the only log parameter that provided anything useful

[2021-06-26 05:06] AutoUpdatingBSoD commented on #120
Good News (kinda)

CMake isn't the culprit, I found out due to a complete fresh reinstall of Android Studio that SFML is the real culprit. This may be what @Morxemplum was referring to to getting it working. However, I found a [guide](https://github.com/SFML/SFML/wiki/Tutorial:-Building-SFML-for-Android) which has SFML supported to some extent or another.

I'll take another stab tomorrow. Now that

[2021-08-25 14:23] Morxemplum opened #351 "Already downloaded Steam packs don't load if Steam API can't be retrieved."
While this really isn't that much of a bug per se, it definitely is a bit of an issue if you want to play Open Hexagon purely offline. Most people haven't been aware of this issue until now because most people launch Open Hexagon with a pre-existing internet connection. This internet connection allows them to connect to the Steam API and tells Open Hexagon to fetch all of the steam downloaded pack

[2021-09-10 00:34] AutoUpdatingBSoD commented on #120
I know it's been a while since I last commented, but I've been on a roller coaster for better or worse. I still haven't forgotten this and want to still give both touch support and android porting a stab. I just need to dedicate some time.

@SuperV1234 I noticed you had commented on Stack Overflow about using MSYS2 with Android in a very similar means to what I'm looking at now for Open Hexagon. T

[2021-10-22 01:44] Morxemplum commented on #351
Alright so I found the code excerpt that is responsible for loading the workshop packs
https://github.com/SuperV1234/SSVOpenHexagon/blob/10eb8abbe7c124eca2d59bfeb6739bb447b5377f/src/SSVOpenHexagon/Core/Steam.cpp#L216-L229

And that function definition is defined here
https://github.com/SuperV1234/SSVOpenHexagon/blob/10eb8abbe7c124eca2d59bfeb6739bb447b5377f/src/SSVOpenHexagon/Core/Steam.cpp#L185-L2

[2021-10-22 01:56] Morxemplum commented on #351
Each solution has their advantage and disadvantage

Creating cache would:
(+) Much less likely to fail
(-) We'd need to connect to the internet once to create / update the cache.

Prediction would:
(+) Don't need to connect to the internet to locate and load
(-) Much more likely to fail, as the user may be storing their workshop packs in a different location

I would much prefer to do caching, but

[2021-10-30 22:40] Zly-u opened #359 "Remove Registration for leaderboards."
It's completely redundant for Steam Version and should be removed.
Also, there is no way to restore it. Anyway, SteamID already works as a password.

*I forgor my password so I demand this change or else i hack u all to retrieve my password back уъуъуъуъуъу*

If you still have Leaderboard in the compiled non-Steam version then uuhh... Make it as one of the features that require Steam purchase.

[2021-11-02 00:26] SuperV1234 commented on #359
I am not sure about this, I think that SteamID can be spoofed... I will do some research on that subject. But I do want to avoid people impersonating others.

[2021-11-02 16:05] SuperV1234 commented on #359
I've done some research and I have to change a bunch of code related to Steamworks authentication to prevent spoofing. It is not a low-effort change, but something that should be done anyway. Once that's done, I will consider removing registration.

[2021-11-03 09:33] Zly-u commented on #359
Glad to hear that, I'm sure a lot of people will appreciate this change.

[2021-11-06 05:21] Morxemplum commented on #359
Yeah, considering the fact that it's another password that you have to remember. It's a really annoying process. Especially since people are forgetting their passwords for this leaderboard (including me), and there's no way to reset your password if you forget it.

[2021-11-16 00:13] Morxemplum opened #363 "Make the Menu UI Scriptable"
One of the issues that I have pinned for this repository is issue #333, the issue that involves heavily polishing the menu UI started in 2.0.3 to fix a variety of issues with the current menu. This menu is definitely a step up from previous menu UI, but it is not perfect.

When looking at the current code for the 2.0.3+ UI, it is quite a mess. It's hard to follow along due to the lack of documenta

[2021-11-16 10:50] A-c0rN opened #364 "Asset Issues"
Hey There! I tried to compile the game from source, and everything seemed fine, but the assets were missing:

[code]

So, after reading the info and such, I ran the `./wget-assets.sh ./_RELEASE/` file, and got Assets!
However, The game followed up with this:

[code]

That didn't look right, so I re-installed, and had the same effect. I then tried to pull from the SSVOpenHexagonAssets repo, and got

[2021-11-17 21:43] SuperV1234 commented on #364
Sorry for the trouble, `./wget-assets.sh` is currently very outdated. The best option is to copy-paste the assets from the Steam version in your build folder.

[2021-11-19 20:58] SuperV1234 commented on #364
I've removed the obsolete `wget-assets.sh` file and updated the wiki to mention copying the Steam assets for now. I will look into a better solution for the future.

[2021-11-19 20:58] #364 closed

[2021-11-19 20:58] SuperV1234 commented on #351
This was completed, thanks.

[2021-11-19 20:58] #351 closed

[2022-03-27 17:01] Mailaender opened #370 "Unknown CMake command CPMAddPackage"
I tried to package 2.0.6 for @openSUSE, but the build system is broken:

[code]

How do I not make it download during the build?

[2022-03-28 01:26] Morxemplum commented on #370
Hi! Due to @vittorioromeo updating the SFML version of the game to SFML 3, an upcoming version of SFML, trying to build the master branch at the moment will lead to build errors.

Try to clone and build on the current branch `develop` and see if this fixes your problem.

[2022-06-08 18:21] vasama opened #371 "Restarting level does not update personal best"

[2022-06-09 09:19] vittorioromeo commented on #371
Are you saying that after getting a personal best, pressing restart does not save it?

[2022-06-09 09:26] vasama commented on #371
Yes. See this video: https://www.youtube.com/watch?v=ZHAPLXNqJII
The personal best is initially 0. I play until ~3.5s then restart, and exit after ~0.8s. Only the second result is saved.

[2022-06-09 09:32] vittorioromeo commented on #371
Ah, but you did not die. Personal best is saved only upon death. Maybe I should change that, but no one ever complained about it before. Why would you restart if you have not died?

[2022-06-09 09:35] vasama commented on #371
My restart reflex is too fast. I sometimes do it just before dying. 😛

[2022-06-09 10:52] vittorioromeo commented on #371
I see, I will look into performing the personal best checks during a restart as well.

[2022-06-14 13:05] nathanfranke commented on #364
tl;dr the game is free but the assets aren't

[2022-07-08 16:34] treirouxel88 opened #373 "some levels unplayable"
![image](https://user-images.githubusercontent.com/83276347/178033442-4a489381-61ca-4687-939c-51b52b7db31f.png)
I can't play some levels due to a nil value error (apparently)

[2022-07-09 12:06] vittorioromeo commented on #373
Is this on the latest Steam version, on Windows?

[2022-07-11 12:57] treirouxel88 commented on #373
yup, fixed by running an integrity check.

[2022-07-11 12:57] #373 closed

[2022-08-13 19:52] her001 commented on #370
The error you are seeing definitely is not caused by SFML versions.

1. If you are trying to build off the v2.0.6 tag, that doesn't include the SFML changes.
1. The error is with the [CPMAddPackage command](https://github.com/vittorioromeo/SSVOpenHexagon/blob/2.0.6/CMakeLists.txt#L57) in CMake, not an SFML build-related error.

Not sure why it isn't working, though. [CPM.cmake](https://github.com/

[2022-08-13 20:23] Mailaender commented on #370
@openSUSE has that disabled on purpose as downloading during the build is forbidden.

[2022-08-13 20:24] #370 closed

[2022-09-04 01:21] alexozer opened #377 "Fails to launch on Ubuntu 22.04 (Wayland)"
I get this crash when launching on Ubuntu 22.04 Wayland. Game was installed via Steam.

[code]

`lspci` graphics card: `00:02.0 VGA compatible controller: Intel Corporation Alder Lake-P Integrated Graphics Controller (rev 0c)`

[2022-09-05 05:32] vittorioromeo commented on #377
Hello, what are your computer specs? What's your GPU? Do you have the latest drivers installed?

As a workaround, please consider playing Open Hexagon under Proton or Wine, it should work fine.

[2022-09-05 12:43] alexozer commented on #377
So it's an i7-1260P laptop with integrated Intel graphics (Iris Xe). It's an Ubuntu 22.04 LTS install so I assume I have the right drivers installed. In fact, it seems like I have `iris_dri.so` at `/usr/lib/x86_64-linux-gnu/dri/iris_dri.so` instead of `/usr/lib/dri/iris_dri.so`. Maybe that's related?

[2022-09-05 13:11] alexozer commented on #377
This workaround works: `LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6 ~/.steam/debian-installation/steamapps/common/Open\ Hexagon/SSVOpenHexagonLinux`

Related: https://stackoverflow.com/questions/71010343/cannot-load-swrast-and-iris-drivers-in-fedora-35

[2022-09-20 16:26] djalexkidd opened #384 "Can't launch on Arch Linux"
Hello,
The game segfaults when I launch it on Arch Linux (both on Xorg and Wayland).
I used the AUR version (open-hexagon-git).

[code]

[2022-09-20 16:28] Bauumm commented on #384
This is a known issue. Run it with `LD_PRELOAD=libstdc++.so.6` to fix

[2022-09-20 16:38] djalexkidd commented on #384
Thank you it worked !

[2022-09-20 16:38] #384 closed

[2022-09-20 20:16] vittorioromeo commented on #384
Would adding that to https://github.com/vittorioromeo/SSVOpenHexagon/blob/master/_RELEASE/run_ssvopenhexagon_linux.sh solve the issue?

[2022-09-20 20:19] Bauumm commented on #384
I remember it not working on some distros that had libstdc++.so.6 in another location (ubuntu if i remember correctly). Just not bundling the lib with the game seems to have fixed it for most people so far.
But what almost all packaged software for Linux does normally is just compiling on a old version of glibc so it works everywhere.

[2022-10-06 21:25] haluzpav opened #388 "Fails to launch on Fedora"
I am running Fedora 36 with Gnome on X11. Open Hexagon from Steam, 2.1.5. Clicking Play in Steam doesn't do anything. Trying to launch following things in terminal gives me following.

[code]

[code]

[2022-10-06 21:37] vittorioromeo commented on #388
Could you try removing the `libstdc++.so.6` file inside the game directory and see if it works that way?

[2022-10-06 21:43] haluzpav commented on #388
Huh, removing it works. :+1:

BTW, I just noticed, the linux build on Steam is actually 2.1.4.

[2022-10-06 22:27] vittorioromeo commented on #388
Unfortunately the building process is still manual, and I haven't had time to create a Linux build yet. I will likely release 2.1.6 both for Linux and Windows at the same time.

[2022-10-07 10:25] #388 closed

[2022-10-07 18:35] edencreeper opened #389 "Build Fails - ‘Uint8’ is not a member of ‘sf’"
Build fails in `make` stage, under both AUR and manual build.

Compiler output
[code]

I'm not a CPP dev so I'm afraid I can't help debug (but obv if you want me to try anything please let me know!)

System Information:
archlinux, all up to date

[code]

[code]

[2022-10-07 18:42] vittorioromeo commented on #389
My apologies, please try the `develop` branch.

[2022-10-07 18:45] edencreeper commented on #389
Very exciting - new errors!
[code]

[2022-10-07 18:46] edencreeper commented on #389
Oh sorry - if you would rather I use a pastebin then of course I can do that too :)

[2022-10-07 18:55] edencreeper commented on #389
Oh! Just checked out a clean clone of `develop` and it compiled fine!!
Would you like me to close?

[2022-10-07 19:16] vittorioromeo commented on #389
Great to hear that! I will close, no worries.

[2022-10-07 19:16] #389 closed

[2022-10-18 08:18] fentras opened #393 "Audio quality degradation"
For some users audio can be noticeably muffled (lower quality noticeable in the mid and treble frequencies). The behavior is unknown and it seems to happen randomly on both _Windows_ and _Linux_ on the latest _Steam_ version and also `develop` branch as of 7f7d1665fd82dd92ead9c29109d2c3810271d601. Possibly related to this issue https://github.com/SFML/SFML/issues/1813.

#### First, there were test

[2022-10-18 18:47] paledega opened #394 "Build error"
[code]

Distribulion: archlinux

Command: `yay -S open-hexagon-git`

[2022-10-18 18:52] Bauumm commented on #394
Build the develop branch instead for now.

[2022-10-19 05:33] sulincix commented on #158
You must replace libsteamapi.so with goldberg emu for flatpak.

[2022-10-19 05:41] paledega commented on #394
Compiled now but not working

![image](https://user-images.githubusercontent.com/38860643/196606400-3fb38b55-c472-4c95-8310-fc4076bc764c.png)

[2022-10-19 12:56] Bauumm commented on #394
look at #384, and the config thing should probably fix itself once the game saves it again.

[2022-10-27 13:23] Bauumm commented on #394
I was replying to the above message which was a crash if it wasn't obvious.
And yes there are some errors in the master where I think Vee broke some things, but the develop branch works fine.